Repository davidmigloz/langchain_dart, pull requests merged in 2023-11, with the labels that each got.

#180 feat(openai_dart): Support different embedding response formats
  packages/openai_dart/README.md
  packages/openai_dart/example/openai_dart_example.dart
  packages/openai_dart/lib/openai_dart.dart
  packages/openai_dart/lib/src/extensions.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_request.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_embeddings_test.dart
Labels: t:enhancement, openai_dart

#182 fix(openai_dart): Several fixes and improvments
  examples/browser_summarizer/pubspec_overrides.yaml
  examples/docs_examples/pubspec_overrides.yaml
  examples/hello_world_backend/pubspec_overrides.yaml
  examples/hello_world_cli/pubspec_overrides.yaml
  examples/hello_world_flutter/pubspec_overrides.yaml
  packages/langchain_chroma/pubspec_overrides.yaml
  packages/langchain_openai/pubspec_overrides.yaml
  packages/langchain_pinecone/pubspec_overrides.yaml
  packages/openai_dart/README.md
  packages/openai_dart/example/openai_dart_example.dart
  packages/openai_dart/lib/src/client.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_function.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/create_fine_tuning_job_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_request.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/union_completion_function_call_option.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
  packages/openai_dart/test/openai_client_completions_test.dart
  packages/openai_dart/test/openai_client_embeddings_test.dart
  packages/openai_dart/test/openai_client_fine_tuning_test.dart
  packages/openai_dart/test/openai_client_images_test.dart
  packages/openai_dart/test/openai_client_models_test.dart
  packages/openai_dart/test/openai_client_moderations_test.dart
Labels: t:enhancement, openai_dart

#183 feat(embeddings): Migrate OpenAIEmbeddings to openai_dart client
  docs/modules/retrieval/text_embedding/integrations/prem.md
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/pubspec.yaml
Labels: t:enhancement, c:embeddings

#184 feat(llms): Migrate OpenAI to openai_dart client
  packages/langchain_openai/lib/src/llms/models/mappers.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:llms

#185 feat(chat-models): Migrate ChatOpenAI to openai_dart client
  docs/modules/model_io/models/chat_models/integrations/prem.md
  examples/hello_world_flutter/lib/home/bloc/home_screen_cubit.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/lib/src/chains/qa_with_structure.dart
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
Labels: t:enhancement, c:chat-models

#186 refactor: Remove dependency on dart_openai
  packages/langchain_openai/lib/langchain_openai.dart
  packages/langchain_openai/lib/src/client/base.dart
  packages/langchain_openai/lib/src/client/client.dart
  packages/langchain_openai/lib/src/client/mappers/chat_completion.dart
  packages/langchain_openai/lib/src/client/mappers/completion.dart
  packages/langchain_openai/lib/src/client/mappers/embeddings.dart
  packages/langchain_openai/lib/src/client/mappers/functions.dart
  packages/langchain_openai/lib/src/client/mappers/mappers.dart
  packages/langchain_openai/lib/src/client/models/chat_completion.dart
  packages/langchain_openai/lib/src/client/models/completion.dart
  packages/langchain_openai/lib/src/client/models/embeddings.dart
  packages/langchain_openai/lib/src/client/models/functions.dart
  packages/langchain_openai/lib/src/client/models/models.dart
  packages/langchain_openai/lib/src/client/openai_client.dart
  packages/langchain_openai/pubspec.yaml
Labels: t:enhancement, p:langchain_openai

#187 fix(openai_dart): Fix static analysis warning
  packages/openai_dart/lib/src/generated/client.dart
Labels: t:bug, openai_dart

#188 feat(vector-stores): Upgrade pinecone client to v0.6.0
  packages/langchain_pinecone/lib/src/vector_stores/pinecone.dart
  packages/langchain_pinecone/pubspec.yaml
Labels: t:bug, c:vector-stores

#189 fix(llms): Revert OpenAI maxTokens default to 256
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
Labels: t:bug, c:llms, p:langchain_openai

#191 fix(openai_dart): Handle nullable function call fields when streaming
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_message_function_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_response_delta.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:bug, openai_dart

#192 feat(lcel): Add streaming support in LangChain Expression Language
  packages/langchain/lib/src/core/runnable/base.dart
  packages/langchain/lib/src/core/runnable/binding.dart
  packages/langchain/lib/src/core/runnable/extensions.dart
  packages/langchain/lib/src/core/runnable/map.dart
  packages/langchain/lib/src/core/runnable/sequence.dart
  packages/langchain/lib/src/model_io/chat_models/fake.dart
  packages/langchain/lib/src/model_io/chat_models/models/models.dart
  packages/langchain/lib/src/model_io/language_models/models/models.dart
  packages/langchain/lib/src/model_io/llms/fake.dart
  packages/langchain/lib/src/model_io/llms/models/models.dart
  packages/langchain/lib/src/model_io/prompts/models/models.dart
  packages/langchain/pubspec.yaml
  packages/langchain/test/core/runnable/binding_test.dart
  packages/langchain/test/core/runnable/function_test.dart
  packages/langchain/test/core/runnable/input_getter_test.dart
  packages/langchain/test/core/runnable/invoke_test.dart
  packages/langchain/test/core/runnable/map_test.dart
  packages/langchain/test/core/runnable/passthrough_test.dart
  packages/langchain/test/core/runnable/sequence_test.dart
  packages/langchain/test/core/runnable/stream_test.dart
  packages/langchain/test/model_io/output_parsers/functions_test.dart
Labels: t:enhancement, c:lcel

#193 fix(output-parsers): Remove unused generic param in StringOutputParser
  packages/langchain/lib/src/model_io/output_parsers/string.dart
  packages/langchain/test/core/runnable/function_test.dart
  packages/langchain/test/core/runnable/map_test.dart
  packages/langchain/test/core/runnable/passthrough_test.dart
  packages/langchain/test/core/runnable/sequence_test.dart
Labels: t:bug, c:output-parsers

#194 feat(output-parsers): Add streaming support to OutputFunctionsParsers
  docs/expression_language/cookbook/prompt_llm_parser.md
  examples/docs_examples/bin/expression_language/cookbook/prompt_llm_parser.dart
  packages/langchain/lib/src/core/runnable/base.dart
  packages/langchain/lib/src/core/runnable/binding.dart
  packages/langchain/lib/src/core/runnable/map.dart
  packages/langchain/lib/src/core/runnable/sequence.dart
  packages/langchain/lib/src/model_io/chat_models/models/models.dart
  packages/langchain/lib/src/model_io/output_parsers/functions.dart
  packages/langchain/lib/src/model_io/output_parsers/output_parser.dart
  packages/langchain/lib/src/model_io/output_parsers/utils/json.dart
  packages/langchain/test/core/runnable/stream_test.dart
  packages/langchain/test/model_io/output_parsers/functions_test.dart
  packages/langchain/test/model_io/output_parsers/utils/json_test.dart
Labels: t:enhancement, c:output-parsers

#195 feat(chat-models): Add result id in ChatVertexAI generations
  packages/langchain_google/lib/src/chat_models/models/mappers.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
Labels: t:enhancement, c:chat-models, p:langchain_google

#196 feat(llms): Add streaming support to OpenAI
  packages/langchain_openai/lib/src/llms/models/mappers.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:llms, p:langchain_openai

#197 feat(chat-models): Add streaming support to ChatOpenAI
  packages/langchain_openai/lib/src/chains/qa_with_sources.dart
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#198 feat(openai_dart): Support new chat completion API functionality
  packages/openai_dart/build.yaml
  packages/openai_dart/lib/src/generated/schema/chat_completion_finish_reason.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_function.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_function_call_option.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_function_parameters.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_function_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_role.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_tool_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_named_tool_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_response_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_message_function_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_message_tool_call_chunk.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_response_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_response_delta.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_tool.dart
  packages/openai_dart/lib/src/generated/schema/completion_choice.dart
  packages/openai_dart/lib/src/generated/schema/completion_finish_reason.dart
  packages/openai_dart/lib/src/generated/schema/completion_logprobs.dart
  packages/openai_dart/lib/src/generated/schema/completion_usage.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_response.dart
  packages/openai_dart/lib/src/generated/schema/create_fine_tuning_job_request.dart
  packages/openai_dart/lib/src/generated/schema/create_image_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_response.dart
  packages/openai_dart/lib/src/generated/schema/delete_model_response.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/embedding_usage.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_error.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_event.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_hyperparameters.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_status.dart
  packages/openai_dart/lib/src/generated/schema/image.dart
  packages/openai_dart/lib/src/generated/schema/images_response.dart
  packages/openai_dart/lib/src/generated/schema/list_fine_tuning_job_events_response.dart
  packages/openai_dart/lib/src/generated/schema/list_models_response.dart
  packages/openai_dart/lib/src/generated/schema/list_paginated_fine_tuning_jobs_response.dart
  packages/openai_dart/lib/src/generated/schema/model.dart
  packages/openai_dart/lib/src/generated/schema/moderation.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories_scores.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/union_completion_function_call_option.dart
  packages/openai_dart/lib/src/generated/schema/union_completion_named_tool_choice.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, openai_dart

#199 feat(openai_dart): Support new completion API functionality
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_completions_test.dart
Labels: t:enhancement, openai_dart

#200 feat(openai_dart): Support new embeddings API functionality
  packages/openai_dart/lib/src/generated/schema/create_embedding_response.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_embeddings_test.dart
Labels: t:enhancement, openai_dart

#201 feat(openai_dart): Support new fine-tunning API functionality
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_event.dart
  packages/openai_dart/lib/src/generated/schema/list_fine_tuning_job_events_response.dart
  packages/openai_dart/lib/src/generated/schema/list_paginated_fine_tuning_jobs_response.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_fine_tuning_test.dart
Labels: t:enhancement, openai_dart

#202 feat(openai_dart): Support new images API functionality
  packages/openai_dart/lib/src/generated/schema/create_image_request.dart
  packages/openai_dart/lib/src/generated/schema/image.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_images_test.dart
Labels: t:enhancement, openai_dart

#203 feat(openai_dart): Support new models API functionality
  packages/openai_dart/lib/src/generated/schema/list_models_response.dart
  packages/openai_dart/lib/src/generated/schema/model.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_models_test.dart
Labels: t:enhancement, openai_dart

#204 feat(llms): Support seed and system_fingerprint in OpenAI wrapper
  packages/langchain_openai/lib/src/llms/models/mappers.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:llms, p:langchain_openai

#205 feat(chat-models): Support seed, system_fingerprint and JSON Mode in ChatOpenAI
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/models/models.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/llms/models/mappers.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#206 refactor(openai_dart)!: Rename ChatCompletionFunction to FunctionObject
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/openai.dart
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/openai_dart/README.md
  packages/openai_dart/example/openai_dart_example.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_tool.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/function_object.dart
  packages/openai_dart/lib/src/generated/schema/function_parameters.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: openai_dart

#208 refactor(openai_dart): Migrate to generated client stream methods
  packages/openai_dart/lib/src/client.dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/pubspec.yaml
Labels: openai_dart

#213 feat(vector-stores): Add support for global headers in Pinecone
  packages/langchain_pinecone/lib/src/vector_stores/pinecone.dart
  packages/langchain_pinecone/pubspec.yaml
Labels: t:enhancement, p:langchain_pinecone

#214 refactor(openai_dart): Improve request error handling
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_finish_reason.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_function_call_option.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_function_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_role.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_tool_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_named_tool_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_response_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_message_function_call.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_message_tool_call_chunk.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_response_choice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_response_delta.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_tool.dart
  packages/openai_dart/lib/src/generated/schema/completion_choice.dart
  packages/openai_dart/lib/src/generated/schema/completion_finish_reason.dart
  packages/openai_dart/lib/src/generated/schema/completion_logprobs.dart
  packages/openai_dart/lib/src/generated/schema/completion_usage.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_response.dart
  packages/openai_dart/lib/src/generated/schema/create_fine_tuning_job_request.dart
  packages/openai_dart/lib/src/generated/schema/create_image_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_request.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_response.dart
  packages/openai_dart/lib/src/generated/schema/delete_model_response.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/embedding_usage.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_error.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_event.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_hyperparameters.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_status.dart
  packages/openai_dart/lib/src/generated/schema/function_object.dart
  packages/openai_dart/lib/src/generated/schema/function_parameters.dart
  packages/openai_dart/lib/src/generated/schema/image.dart
  packages/openai_dart/lib/src/generated/schema/images_response.dart
  packages/openai_dart/lib/src/generated/schema/list_fine_tuning_job_events_response.dart
  packages/openai_dart/lib/src/generated/schema/list_models_response.dart
  packages/openai_dart/lib/src/generated/schema/list_paginated_fine_tuning_jobs_response.dart
  packages/openai_dart/lib/src/generated/schema/model.dart
  packages/openai_dart/lib/src/generated/schema/moderation.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories_scores.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/union_completion_function_call_option.dart
  packages/openai_dart/lib/src/generated/schema/union_completion_named_tool_choice.dart
Labels: t:enhancement, openai_dart

#216 refactor(llms): Align openai_dart client breaking changes
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
Labels: c:llms, c:chat-models, p:langchain_openai

#218 feat(openai_dart)!: Add multi-modal support
  packages/openai_dart/README.md
  packages/openai_dart/example/openai_dart_example.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_content_part.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_content_part_type.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_response_choice.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/main.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, openai_dart

#219 refactor(chat-models): Align openai_dart client breaking changes
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
Labels: c:llms, c:chat-models

#220 feat(chat-models)!: Add multi-modal messages support with OpenAI Vision
  docs/expression_language/cookbook/retrieval.md
  docs/get_started/quickstart.md
  docs/modules/model_io/models/chat_models/chat_models.md
  docs/modules/model_io/models/chat_models/how_to/streaming.md
  docs/modules/model_io/models/chat_models/integrations/gcp_vertex_ai.md
  docs/modules/model_io/models/chat_models/integrations/openai.md
  docs/modules/model_io/models/getting_started.md
  docs/modules/model_io/prompts/prompt_templates/msg_prompt_templates.md
  examples/docs_examples/bin/expression_language/cookbook/retrieval.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/how_to/streaming.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/openai.dart
  examples/hello_world_cli/bin/hello_world_cli.dart
  examples/hello_world_flutter/lib/home/bloc/home_screen_cubit.dart
  packages/langchain/lib/src/chains/combine_documents/map_reduce.dart
  packages/langchain/lib/src/chains/combine_documents/stuff.dart
  packages/langchain/lib/src/memory/chat_message_history/base.dart
  packages/langchain/lib/src/model_io/chat_models/base.dart
  packages/langchain/lib/src/model_io/chat_models/fake.dart
  packages/langchain/lib/src/model_io/chat_models/models/models.dart
  packages/langchain/lib/src/model_io/chat_models/utils.dart
  packages/langchain/lib/src/model_io/output_parsers/functions.dart
  packages/langchain/lib/src/model_io/prompts/chat_prompt.dart
  packages/langchain/lib/src/model_io/prompts/models/models.dart
  packages/langchain/test/core/runnable/binding_test.dart
  packages/langchain/test/core/runnable/function_test.dart
  packages/langchain/test/core/runnable/invoke_test.dart
  packages/langchain/test/core/runnable/map_test.dart
  packages/langchain/test/core/runnable/passthrough_test.dart
  packages/langchain/test/core/runnable/sequence_test.dart
  packages/langchain/test/core/runnable/stream_test.dart
  packages/langchain/test/memory/buffer_test.dart
  packages/langchain/test/memory/buffer_window_test.dart
  packages/langchain/test/memory/chat_message_history/in_memory_test.dart
  packages/langchain/test/memory/summary_test.dart
  packages/langchain/test/memory/token_buffer_test.dart
  packages/langchain/test/model_io/chat_models/fake_test.dart
  packages/langchain/test/model_io/output_parsers/functions_test.dart
  packages/langchain/test/model_io/output_parsers/string_test.dart
  packages/langchain/test/model_io/prompts/chat_prompt_test.dart
  packages/langchain/test/model_io/prompts/pipeline_test.dart
  packages/langchain_google/example/langchain_google_example.dart
  packages/langchain_google/lib/src/chat_models/models/mappers.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/test/chat_models/vertex_ai_test.dart
  packages/langchain_openai/example/langchain_openai_example.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/lib/src/chat_models/models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#221 Remove dependency on io.HttpException
  packages/openai_dart/lib/src/generated/client.dart
Labels: t:bug, openai_dart

#224 feat(openai_dart): Add Azure OpenAI API support
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/client.dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/pubspec.yaml
Labels: c:llms, c:chat-models, c:embeddings, p:langchain_openai, openai_dart

#225 docs: Update README.md
  README.md
  packages/langchain/README.md
Labels: t:documentation

#226 fix(openai_dart): Fetch requests with big payloads dropping connection
  packages/openai_dart/lib/src/client.dart
  packages/openai_dart/lib/src/http_client/http_client_html.dart
  packages/openai_dart/lib/src/http_client/http_client_io.dart
  packages/openai_dart/lib/src/http_client/http_client_stub.dart
Labels: t:bug, openai_dart

#228 refactor(lcel): Rename RunnableMapFromItem to RunnableMapFromInput
  docs/expression_language/cookbook/multiple_chains.md
  docs/expression_language/cookbook/prompt_llm_parser.md
  docs/expression_language/cookbook/tools.md
  docs/expression_language/interface.md
  examples/docs_examples/bin/expression_language/cookbook/multiple_chains.dart
  examples/docs_examples/bin/expression_language/cookbook/prompt_llm_parser.dart
  examples/docs_examples/bin/expression_language/cookbook/tools.dart
  examples/docs_examples/bin/expression_language/interface.dart
  packages/langchain/lib/src/core/runnable/base.dart
  packages/langchain/lib/src/core/runnable/input_getter.dart
  packages/langchain/test/core/runnable/input_getter_test.dart
  packages/langchain/test/core/runnable/passthrough_test.dart
Labels: c:lcel

#229 feat(lcel): Add support for Runnable.mapInput()
  docs/expression_language/interface.md
  examples/docs_examples/bin/expression_language/interface.dart
  packages/langchain/lib/src/core/runnable/base.dart
  packages/langchain/lib/src/core/runnable/input_map.dart
  packages/langchain/lib/src/core/runnable/runnable.dart
  packages/langchain/test/core/runnable/input_map_test.dart
Labels: t:enhancement, c:lcel

#230 feat(agents): Support implementing custom agents using LCEL
  docs/modules/agents/agent_types/openai_functions_agent.md
  examples/docs_examples/bin/modules/agents/agent_types/openai_functions_agent.dart
  packages/langchain/lib/src/agents/agent.dart
  packages/langchain/lib/src/agents/executors.dart
  packages/langchain/lib/src/agents/models/models.dart
  packages/langchain/test/agents/executors_test.dart
  packages/langchain/test/model_io/output_parsers/functions_test.dart
  packages/langchain_openai/lib/src/agents/agents.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/test/agents/functions_test.dart
Labels: t:enhancement, c:lcel

#231 feat(tools): Add support for OpenAIDallETool
  docs/_sidebar.md
  docs/modules/agents/tools/calculator.md
  docs/modules/agents/tools/img/dall_e_3.png
  docs/modules/agents/tools/openai_dall_e.md
  examples/docs_examples/bin/modules/agents/tools/calculator.dart
  examples/docs_examples/bin/modules/agents/tools/openai_dalle.dart
  packages/langchain/lib/src/agents/tools/calculator.dart
  packages/langchain_openai/lib/src/agents/tools/dall_e.dart
  packages/langchain_openai/lib/src/agents/tools/tools.dart
  packages/langchain_openai/test/agents/tools/dall_e_test.dart
Labels: t:enhancement, c:tools, p:langchain_openai

#234 fix(openai_dart): Decode JSON responses as UTF-8
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/pubspec.yaml
Labels: t:bug, openai_dart

#235 fix(chromadb): Decode JSON responses as UTF-8 (#234)
  packages/chromadb/lib/src/chroma_client.dart
  packages/chromadb/lib/src/generated/client.dart
  packages/chromadb/lib/src/generated/schema/add_embedding.dart
  packages/chromadb/lib/src/generated/schema/collection_type.dart
  packages/chromadb/lib/src/generated/schema/create_collection.dart
  packages/chromadb/lib/src/generated/schema/create_database.dart
  packages/chromadb/lib/src/generated/schema/create_tenant.dart
  packages/chromadb/lib/src/generated/schema/database_type.dart
  packages/chromadb/lib/src/generated/schema/delete_embedding.dart
  packages/chromadb/lib/src/generated/schema/get_embedding.dart
  packages/chromadb/lib/src/generated/schema/get_response.dart
  packages/chromadb/lib/src/generated/schema/http_validation_error.dart
  packages/chromadb/lib/src/generated/schema/query_embedding.dart
  packages/chromadb/lib/src/generated/schema/query_response.dart
  packages/chromadb/lib/src/generated/schema/schema.dart
  packages/chromadb/lib/src/generated/schema/tenant_type.dart
  packages/chromadb/lib/src/generated/schema/update_collection.dart
  packages/chromadb/lib/src/generated/schema/update_embedding.dart
  packages/chromadb/lib/src/generated/schema/validation_error.dart
  packages/chromadb/pubspec.yaml
Labels: t:bug, p:chromadb

#236 fix(vector_stores): Decode JSON responses as UTF-8 in Pinecone
  packages/langchain_pinecone/lib/src/vector_stores/pinecone.dart
  packages/langchain_pinecone/pubspec.yaml
Labels: t:bug, p:langchain_pinecone

#237 fix(storage): Conditionally import dart:io in LocalFileStore
  packages/langchain/lib/src/storage/file_system_io.dart
  packages/langchain/lib/src/storage/file_system_stub.dart
  packages/langchain/lib/src/storage/storage.dart
Labels: t:bug, c:storage

#238 Feature/102 integrate ollama llms
  packages/ollama_dart/.gitignore
  packages/ollama_dart/CHANGELOG.md
  packages/ollama_dart/LICENSE
  packages/ollama_dart/README.md
  packages/ollama_dart/analysis_options.yaml
  packages/ollama_dart/example/ollama_api_example.dart
  packages/ollama_dart/lib/ollama_dart.dart
  packages/ollama_dart/lib/src/client.dart
  packages/ollama_dart/lib/src/generated/client.dart
  packages/ollama_dart/lib/src/generated/schema/copy_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/create_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/create_model_response.dart
  packages/ollama_dart/lib/src/generated/schema/create_model_status.dart
  packages/ollama_dart/lib/src/generated/schema/delete_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/generate_embedding_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_embedding_response.dart
  packages/ollama_dart/lib/src/generated/schema/model.dart
  packages/ollama_dart/lib/src/generated/schema/model_info.dart
  packages/ollama_dart/lib/src/generated/schema/model_info_request.dart
  packages/ollama_dart/lib/src/generated/schema/models_response.dart
  packages/ollama_dart/lib/src/generated/schema/pull_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/pull_model_response.dart
  packages/ollama_dart/lib/src/generated/schema/pull_model_status.dart
  packages/ollama_dart/lib/src/generated/schema/push_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/push_model_response.dart
  packages/ollama_dart/lib/src/generated/schema/push_model_status.dart
  packages/ollama_dart/lib/src/generated/schema/request_options.dart
  packages/ollama_dart/lib/src/generated/schema/response_format.dart
  packages/ollama_dart/lib/src/generated/schema/schema.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/lib/src/http_client/http_client.dart
  packages/ollama_dart/lib/src/http_client/http_client_html.dart
  packages/ollama_dart/lib/src/http_client/http_client_io.dart
  packages/ollama_dart/lib/src/http_client/http_client_stub.dart
  packages/ollama_dart/oas/main.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/pubspec.yaml
  packages/ollama_dart/test/ollama_dart_completions_test.dart
  packages/ollama_dart/test/ollama_dart_embeddings_test.dart
  packages/ollama_dart/test/ollama_dart_models_test.dart
Labels: t:enhancement, p:ollama_dart

#232 feat(llms)!: Move all model config options to OpenAIOptions
  docs/modules/chains/chains.md
  docs/modules/chains/foundational/llm.md
  docs/modules/chains/getting_started.md
  docs/modules/chains/how_to/custom_chain.md
  docs/modules/memory/memory.md
  docs/modules/model_io/models/llms/how_to/token_usage_tracking.md
  docs/modules/model_io/prompts/prompt_templates/custom_prompt_template.md
  packages/langchain/lib/src/model_io/chat_models/fake.dart
  packages/langchain/lib/src/model_io/language_models/base.dart
  packages/langchain/lib/src/model_io/llms/fake.dart
  packages/langchain/test/core/runnable/binding_test.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_openai/example/langchain_openai_example.dart
  packages/langchain_openai/lib/langchain_openai.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/llms/models/models.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/agents/tools/dall_e_test.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:llms, p:langchain_openai

#240 feat(chat-models)!: Move all model config options to ChatOpenAIOptions
  docs/expression_language/cookbook/tools.md
  docs/get_started/quickstart.md
  docs/modules/agents/agent_types/openai_functions_agent.md
  docs/modules/agents/agents.md
  docs/modules/agents/tools/calculator.md
  docs/modules/agents/tools/openai_dall_e.md
  docs/modules/chains/chains.md
  docs/modules/chains/getting_started.md
  docs/modules/chains/how_to/call_methods.md
  docs/modules/model_io/models/chat_models/chat_models.md
  docs/modules/model_io/models/chat_models/how_to/llm_chain.md
  docs/modules/model_io/models/chat_models/how_to/prompts.md
  docs/modules/model_io/models/chat_models/integrations/openai.md
  docs/modules/model_io/models/chat_models/integrations/prem.md
  docs/modules/model_io/output_parsers/functions.md
  docs/modules/retrieval/retrievers/retrievers.md
  docs/modules/retrieval/vector_stores/integrations/memory.md
  examples/docs_examples/bin/expression_language/cookbook/tools.dart
  examples/docs_examples/bin/expression_language/interface.dart
  examples/docs_examples/bin/modules/agents/agent_types/openai_functions_agent.dart
  examples/docs_examples/bin/modules/agents/tools/calculator.dart
  examples/docs_examples/bin/modules/agents/tools/openai_dalle.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/openai.dart
  examples/docs_examples/bin/modules/model_io/output_parsers/functions.dart
  examples/hello_world_backend/bin/sonnets.dart
  examples/hello_world_cli/bin/hello_world_cli.dart
  packages/langchain_openai/example/langchain_openai_example.dart
  packages/langchain_openai/lib/src/chat_models/models/models.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/test/agents/functions_test.dart
  packages/langchain_openai/test/agents/tools/dall_e_test.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#241 feat(llms)!: Move all model config options to VertexAIOptions
  packages/langchain_google/lib/src/llms/models/models.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/test/llms/vertex_ai_test.dart
Labels: t:enhancement, c:llms, p:langchain_google

#242 feat(chat-models)!: Move all model config options to ChatVertexAIOptions
  packages/langchain_google/lib/src/chat_models/models/models.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/test/chat_models/vertex_ai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_google

#243 feat(tools)!: Allow to pass call options to tools
  docs/modules/agents/agent_types/openai_functions_agent.md
  docs/modules/agents/tools/openai_dall_e.md
  examples/docs_examples/bin/modules/agents/agent_types/openai_functions_agent.dart
  examples/docs_examples/bin/modules/agents/tools/openai_dalle.dart
  packages/langchain/lib/src/agents/tools/base.dart
  packages/langchain/lib/src/agents/tools/calculator.dart
  packages/langchain/lib/src/agents/tools/exception.dart
  packages/langchain/lib/src/agents/tools/invalid.dart
  packages/langchain/lib/src/agents/tools/models/models.dart
  packages/langchain/lib/src/agents/tools/tools.dart
  packages/langchain/test/agents/executors_test.dart
  packages/langchain/test/agents/tools/base_test.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/test/agents/functions_test.dart
Labels: t:enhancement, c:tools

#244 feat(tools)!: Move all DallE config options to OpenAIDallEToolOptions
  packages/langchain_openai/lib/src/agents/tools/dall_e.dart
  packages/langchain_openai/lib/src/agents/tools/models/models.dart
  packages/langchain_openai/lib/src/agents/tools/tools.dart
  packages/langchain_openai/test/agents/tools/dall_e_test.dart
Labels: t:enhancement, c:tools, p:langchain_openai

#246 feat: Allow to update OpenAI key without having to recreate the wrapper
  packages/langchain_openai/lib/src/agents/tools/dall_e.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/openai_dart/lib/src/client.dart
Labels: t:enhancement, c:llms, c:chat-models, c:tools, c:embeddings, p:langchain_openai

#247 fix(prompts): PromptTemplate stream should only emit if it has all inputs
  packages/langchain/lib/src/core/runnable/map.dart
  packages/langchain/lib/src/model_io/prompts/base_prompt.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
Labels: t:bug, c:prompts

#248 feat(retrievers)!: Move all retriever config options to RetrieverOptions
  docs/expression_language/cookbook/retrieval.md
  examples/docs_examples/bin/expression_language/cookbook/retrieval.dart
  packages/langchain/lib/src/chains/retrieval_qa.dart
  packages/langchain/lib/src/documents/retrievers/base.dart
  packages/langchain/lib/src/documents/retrievers/fake.dart
  packages/langchain/lib/src/documents/retrievers/models/models.dart
  packages/langchain/lib/src/documents/retrievers/retrievers.dart
  packages/langchain/lib/src/documents/retrievers/vector_store.dart
  packages/langchain/lib/src/documents/vector_stores/base.dart
Labels: t:enhancement, c:retrievers, c:lcel
