Repository davidmigloz/langchain_dart, pull requests merged in 2023-08, with the labels that each got.

#89 feat(agents): Update AgentExecutor constructor to use agent's tools
  docs/get_started/quickstart.md
  docs/modules/agents/agent_types/openai_functions_agent.md
  docs/modules/agents/agents.md
  packages/langchain/lib/src/agents/agent.dart
  packages/langchain/lib/src/agents/executors.dart
  packages/langchain/test/agents/executors_test.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/test/agents/functions_test.dart
Labels: t:enhancement, c:agents

#92 fix(chains): Suff and MapReduce docs chains don't handle chat messages
  packages/langchain/lib/src/chains/combine_documents/map_reduce.dart
  packages/langchain/lib/src/chains/combine_documents/stuff.dart
  packages/langchain/lib/src/model_io/chat_models/fake.dart
  packages/langchain/test/chains/combine_documents/map_reduce_test.dart
  packages/langchain/test/chains/combine_documents/stuff_test.dart
Labels: c:chains

#104 fix(llms): OpenAIOptions class not exported
  packages/langchain/lib/src/documents/vector_stores/memory.dart
  packages/langchain_openai/lib/src/llms/llms.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:bug, c:llms

#107 test(doc-loaders): Add tests for TSV files in CsvLoader
  packages/langchain/lib/src/documents/loaders/csv.dart
  packages/langchain/test/documents/loaders/assets/example_2.tsv
  packages/langchain/test/documents/loaders/csv_test.dart
Labels: c:doc-loaders

#113 fix(chains): Fix OpenAIQAWithSourcesChain returning empty strings
  packages/langchain/lib/src/chains/combine_documents/map_reduce.dart
  packages/langchain/lib/src/chains/combine_documents/stuff.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
Labels: t:bug, c:chains, p:langchain_openai

#117 feat(vertex_ai): Support updating Matching Engine index
  packages/vertex_ai/README.md
  packages/vertex_ai/lib/src/matching_engine/apis/indexes.dart
  packages/vertex_ai/lib/src/matching_engine/models/indexes.dart
  packages/vertex_ai/test/matching_engine/maching_engine_client_test.dart
Labels: t:enhancement, p:vertex_ai

#118 fix(vertex_ai): Expose index deployed indexes references
  packages/vertex_ai/lib/src/matching_engine/mappers/indexes.dart
  packages/vertex_ai/lib/src/matching_engine/models/indexes.dart
  packages/vertex_ai/test/matching_engine/maching_engine_client_test.dart
  packages/vertex_ai/test/matching_engine/mappers/indexes_test.dart
Labels: t:bug, p:vertex_ai

#120 fix(vertex_ai): approximateNeighborsCount deserialization issue
  packages/vertex_ai/lib/src/matching_engine/models/indexes.dart
  packages/vertex_ai/test/matching_engine/maching_engine_client_test.dart
Labels: t:bug, p:vertex_ai

#121 docs: Add VertexAI Matching Engine sample setup script
  examples/vertex_ai_matching_engine_setup/.gitignore
  examples/vertex_ai_matching_engine_setup/README.md
  examples/vertex_ai_matching_engine_setup/analysis_options.yaml
  examples/vertex_ai_matching_engine_setup/bin/vertex_ai_matching_engine_setup.dart
  examples/vertex_ai_matching_engine_setup/pubspec.yaml
  examples/vertex_ai_matching_engine_setup/pubspec_overrides.yaml
  packages/langchain_google/lib/src/vector_stores/matching_engine.dart
Labels: t:documentation, p:langchain_google

#122 fix(doc-transformers): Text splitters were not preserving docs IDs
  examples/vertex_ai_matching_engine_setup/bin/vertex_ai_matching_engine_setup.dart
  packages/langchain/lib/src/documents/transformers/text_splitters/text_splitter.dart
  packages/langchain/test/documents/transformers/text_splitters/character_test.dart
Labels: t:bug, c:doc-transformers

#126 refactor(memory): Rename store to chat_message_history
  packages/langchain/lib/src/memory/buffer_window.dart
  packages/langchain/lib/src/memory/chat.dart
  packages/langchain/lib/src/memory/chat_message_history/base.dart
  packages/langchain/lib/src/memory/chat_message_history/chat_message_history.dart
  packages/langchain/lib/src/memory/chat_message_history/in_memory.dart
  packages/langchain/lib/src/memory/memory.dart
  packages/langchain/lib/src/memory/stores/stores.dart
  packages/langchain/lib/src/memory/summary.dart
  packages/langchain/lib/src/memory/token_buffer.dart
  packages/langchain/test/memory/chat_message_history/in_memory_test.dart
Labels: c:memory

#127 feat(doc-stores): Add support for InMemoryDocStore
  packages/langchain/lib/src/documents/documents.dart
  packages/langchain/lib/src/documents/stores/base.dart
  packages/langchain/lib/src/documents/stores/in_memory.dart
  packages/langchain/lib/src/documents/stores/stores.dart
  packages/langchain/test/documents/stores/in_memory.dart
Labels: t:enhancement, c:doc-stores

#128 feat(storage): Add support for InMemoryStore
  packages/langchain/lib/langchain.dart
  packages/langchain/lib/src/documents/stores/in_memory.dart
  packages/langchain/lib/src/storage/base.dart
  packages/langchain/lib/src/storage/in_memory.dart
  packages/langchain/lib/src/storage/storage.dart
  packages/langchain/test/documents/stores/in_memory.dart
  packages/langchain/test/storage/in_memory.dart
Labels: t:enhancement, c:storage

#129 feat(storage): Add support for EncoderBackedStore
  packages/langchain/lib/src/documents/embeddings/base.dart
  packages/langchain/lib/src/storage/encoder_backed.dart
  packages/langchain/lib/src/storage/storage.dart
  packages/langchain/test/storage/encoder_backed.dart
Labels: t:enhancement, c:storage

#130 feat(embeddings): Add FakeEmbeddings testing model
  packages/langchain/lib/src/documents/embeddings/embeddings.dart
  packages/langchain/lib/src/documents/embeddings/fake.dart
  packages/langchain/pubspec.yaml
  packages/langchain/test/documents/embeddings/fake.dart
Labels: t:enhancement, c:embeddings

#131 feat(embeddings): Add support for CacheBackedEmbeddings
  packages/langchain/lib/src/documents/embeddings/cache.dart
  packages/langchain/lib/src/documents/embeddings/embeddings.dart
  packages/langchain/lib/src/storage/encoder_backed.dart
  packages/langchain/test/documents/embeddings/cache.dart
  packages/langchain/test/storage/encoder_backed.dart
Labels: t:enhancement, c:embeddings

#132 feat(storage): Add support for LocalFileStore
  packages/langchain/lib/src/documents/embeddings/cache.dart
  packages/langchain/lib/src/storage/file_system.dart
  packages/langchain/lib/src/storage/storage.dart
  packages/langchain/test/storage/file_system.dart
Labels: t:enhancement, c:storage

#133 feat(vector-stores): Infeer queryRootUrl in VertexAIMatchingEngine
  packages/langchain_google/lib/src/vector_stores/matching_engine.dart
  packages/langchain_google/test/vector_stores/matching_engine.dart
Labels: t:enhancement, c:vector-stores

#134 fix(agent): openai function agent infinite loop issue
  packages/langchain_openai/lib/src/agents/functions.dart
Labels: t:bug, c:agents, p:langchain_openai

#135 feat(vector-stores): Allow to pass vector search config
  packages/langchain/lib/src/chains/question_answering/stuff.dart
  packages/langchain/lib/src/documents/retrievers/vector_store.dart
  packages/langchain/lib/src/documents/vector_stores/base.dart
  packages/langchain/lib/src/documents/vector_stores/memory.dart
  packages/langchain/lib/src/documents/vector_stores/models/models.dart
  packages/langchain/test/chains/retrieval_qa_test.dart
  packages/langchain/test/documents/vector_stores/memory_test.dart
  packages/langchain_google/lib/src/vector_stores/matching_engine.dart
  packages/langchain_google/test/vector_stores/matching_engine.dart
Labels: t:enhancement, c:vector-stores

#136 feat(vector-stores): Support filtering in VertexAI Matching Engine
  packages/langchain/lib/src/documents/vector_stores/models/models.dart
  packages/langchain_google/lib/src/vector_stores/matching_engine.dart
  packages/langchain_google/lib/src/vector_stores/models/mappers.dart
  packages/langchain_google/lib/src/vector_stores/models/models.dart
  packages/langchain_google/lib/src/vector_stores/vector_stores.dart
  packages/langchain_google/test/vector_stores/matching_engine.dart
Labels: t:enhancement, c:vector-stores, p:langchain_google

#137 feat(vector-stores): Support filtering in MemoryVectorStore
  packages/langchain/lib/src/documents/vector_stores/memory.dart
  packages/langchain/test/documents/vector_stores/memory_test.dart
Labels: t:enhancement, c:vector-stores

#140 feat(chromadb): Add Chroma embedding database API client
  packages/chromadb/.gitignore
  packages/chromadb/CHANGELOG.md
  packages/chromadb/LICENSE
  packages/chromadb/README.md
  packages/chromadb/analysis_options.yaml
  packages/chromadb/example/chromadb_example.dart
  packages/chromadb/lib/chromadb.dart
  packages/chromadb/lib/src/chroma_client.dart
  packages/chromadb/lib/src/collection.dart
  packages/chromadb/lib/src/embeddings/embedding_function.dart
  packages/chromadb/lib/src/generated/client.dart
  packages/chromadb/lib/src/generated/schema/add_embedding.dart
  packages/chromadb/lib/src/generated/schema/collection_type.dart
  packages/chromadb/lib/src/generated/schema/create_collection.dart
  packages/chromadb/lib/src/generated/schema/delete_embedding.dart
  packages/chromadb/lib/src/generated/schema/get_embedding.dart
  packages/chromadb/lib/src/generated/schema/get_response.dart
  packages/chromadb/lib/src/generated/schema/http_validation_error.dart
  packages/chromadb/lib/src/generated/schema/query_embedding.dart
  packages/chromadb/lib/src/generated/schema/query_response.dart
  packages/chromadb/lib/src/generated/schema/schema.dart
  packages/chromadb/lib/src/generated/schema/schema.freezed.dart
  packages/chromadb/lib/src/generated/schema/schema.g.dart
  packages/chromadb/lib/src/generated/schema/update_collection.dart
  packages/chromadb/lib/src/generated/schema/update_embedding.dart
  packages/chromadb/lib/src/generated/schema/validation_error.dart
  packages/chromadb/oas/main.dart
  packages/chromadb/oas/openapi.json
  packages/chromadb/pubspec.yaml
  packages/chromadb/test/chroma_client_test.dart
Labels: t:enhancement, p:chromadb

#142 Update generated Chroma API client
  packages/chromadb/lib/src/generated/client.dart
  packages/chromadb/pubspec.yaml
Labels: t:enhancement, p:chromadb

#145 refactor(memory)!: Rename VectorStoreRetrieverMemory
  packages/langchain/lib/src/memory/vector_store.dart
  packages/langchain/test/memory/vector_store_test.dart
Labels: c:memory

#146 refactor(retrievers)!: Remove addDocuments from VectorStoreRetriever
  packages/langchain/lib/src/documents/retrievers/vector_store.dart
  packages/langchain/lib/src/documents/vector_stores/base.dart
Labels: c:retrievers

#148 fix(vertex_ai): typecast exception when null publicationDate
  packages/vertex_ai/lib/src/gen_ai/models/model.dart
Labels: t:bug, p:vertex_ai
