Repository davidmigloz/langchain_dart, pull requests merged in 2023-09, with the labels that each got.

#150 feat(vertex_ai): Add support for stopSequence and candidateCount
  packages/vertex_ai/lib/src/gen_ai/models/text.dart
  packages/vertex_ai/lib/src/gen_ai/models/text_chat.dart
  packages/vertex_ai/test/gen_ai/mappers/chat_test.dart
  packages/vertex_ai/test/gen_ai/mappers/text_test.dart
Labels: t:enhancement, p:vertex_ai

#151 feat(embeddings): Support task type in VertexAI embeddings models
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/lib/src/embeddings/vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
Labels: t:enhancement, c:embeddings

#152 fix(vertex_ai): Fix typo in stop sequences field deserialization
  packages/vertex_ai/lib/src/gen_ai/models/model.dart
  packages/vertex_ai/lib/src/gen_ai/models/text.dart
  packages/vertex_ai/lib/src/gen_ai/models/text_chat.dart
  packages/vertex_ai/test/gen_ai/gen_ai_client_test.dart
  packages/vertex_ai/test/gen_ai/mappers/chat_test.dart
  packages/vertex_ai/test/gen_ai/mappers/text_test.dart
Labels: t:bug, p:vertex_ai

#153 refactor(embeddings)!: Change embedDocuments input to List<Document>
  packages/langchain/lib/src/documents/embeddings/base.dart
  packages/langchain/lib/src/documents/embeddings/cache.dart
  packages/langchain/lib/src/documents/embeddings/fake.dart
  packages/langchain/lib/src/documents/vector_stores/base.dart
  packages/langchain/test/chains/retrieval_qa_test.dart
  packages/langchain/test/documents/embeddings/cache.dart
  packages/langchain/test/documents/embeddings/fake.dart
  packages/langchain/test/documents/vector_stores/memory_test.dart
  packages/langchain/test/memory/vector_store_test.dart
  packages/langchain_google/lib/src/embeddings/vertex_ai.dart
  packages/langchain_google/test/embeddings/vertex_ai_test.dart
  packages/langchain_google/test/vector_stores/matching_engine_test.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/test/embeddings/openai_test.dart
Labels: t:enhancement, c:embeddings

#154 feat(embeddings): Support document title in VertexAIEmbeddings
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/lib/src/embeddings/vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/test/embeddings/vertex_ai_test.dart
  packages/langchain_google/test/vector_stores/matching_engine_test.dart
Labels: t:enhancement, c:embeddings

#156 refactor(vertex_ai): Require `http.Client` instead of `AuthClient`
  examples/vertex_ai_matching_engine_setup/bin/vertex_ai_matching_engine_setup.dart
  packages/langchain_google/example/langchain_google_example.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai.dart
  packages/langchain_google/lib/src/embeddings/vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/lib/src/vector_stores/matching_engine.dart
  packages/langchain_google/test/chat_models/vertex_ai_test.dart
  packages/langchain_google/test/embeddings/vertex_ai_test.dart
  packages/langchain_google/test/llms/vertex_ai_test.dart
  packages/langchain_google/test/vector_stores/matching_engine_test.dart
  packages/langchain_pinecone/pubspec.yaml
  packages/langchain_pinecone/pubspec_overrides.yaml
  packages/langchain_pinecone/test/vector_stores/pinecone_test.dart
  packages/vertex_ai/example/vertex_ai_example.dart
  packages/vertex_ai/lib/src/gen_ai/gen_ai_client.dart
  packages/vertex_ai/lib/src/matching_engine/matching_engine_client.dart
  packages/vertex_ai/test/gen_ai/gen_ai_client_test.dart
  packages/vertex_ai/test/matching_engine/maching_engine_client_test.dart
Labels: c:llms, c:chat-models, c:vector-stores, c:embeddings, p:vertex_ai

#157 feat(chains): Support custom doc prompt in StuffDocumentsQAChain
  packages/langchain/lib/src/chains/question_answering/stuff.dart
Labels: t:enhancement, c:chains

#160 Update pinecone dependency - regression resolved
  packages/langchain_pinecone/pubspec.yaml
Labels: t:bug, c:vector-stores
