Repository davidmigloz/langchain_dart, pull requests merged in 2024-01, with the labels that each got.

#280 fix(memory): Export token_buffer.dart (ConversationTokenBufferMemory)
  .github/workflows/test.yaml
  packages/langchain/lib/src/memory/memory.dart
Labels: t:bug, c:memory

#283 fix(memory): Export ConversationSummaryMemory
  packages/langchain/lib/src/memory/memory.dart
  packages/langchain/test/memory/buffer_test.dart
  packages/langchain/test/memory/buffer_window_test.dart
  packages/langchain/test/memory/simple_test.dart
  packages/langchain/test/memory/summary_test.dart
  packages/langchain/test/memory/token_buffer_test.dart
Labels: t:bug, c:memory

#285 Migrate tokenizer to langchain_tiktoken package
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/pubspec.lock
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  packages/langchain_google/lib/src/chat_models/vertex_ai/chat_vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/pubspec.yaml
  packages/langchain_google/test/chat_models/chat_vertex_ai_test.dart
  packages/langchain_google/test/llms/vertex_ai_test.dart
  packages/langchain_mistralai/lib/src/chat_models/chat_mistralai.dart
  packages/langchain_mistralai/pubspec.yaml
  packages/langchain_mistralai/test/chat_models/chat_mistralai_test.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
  packages/langchain_ollama/test/llms/ollama_test.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/pubspec.yaml
  packages/langchain_openai/test/chat_models/openai_test.dart
  packages/langchain_openai/test/llms/openai_test.dart
Labels: t:enhancement, c:llms, c:chat-models

#284 refactor(llms): Make all LLM options fields nullable and add copyWith
  analysis_options.yaml
  docs/expression_language/cookbook/tools.md
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/bin/expression_language/cookbook/tools.dart
  examples/docs_examples/pubspec.lock
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  packages/googleai_dart/pubspec.yaml
  packages/langchain/lib/src/model_io/language_models/base.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/models/models.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai/chat_vertex_ai.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai/models/models.dart
  packages/langchain_google/lib/src/llms/models/models.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/test/chat_models/chat_vertex_ai_test.dart
  packages/langchain_google/test/llms/vertex_ai_test.dart
  packages/langchain_mistralai/lib/src/chat_models/chat_mistralai.dart
  packages/langchain_mistralai/lib/src/chat_models/models/models.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/models/models.dart
  packages/langchain_ollama/lib/src/llms/models/models.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
  packages/langchain_ollama/test/embeddings/ollama_test.dart
  packages/langchain_ollama/test/llms/ollama_test.dart
  packages/langchain_openai/lib/src/chat_models/models/models.dart
  packages/langchain_openai/lib/src/chat_models/openai.dart
  packages/langchain_openai/lib/src/llms/models/models.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
  packages/langchain_openai/test/chat_models/openai_test.dart
  packages/langchain_openai/test/llms/openai_test.dart
  packages/mistralai_dart/lib/src/generated/schema/chat_completion_request.dart
  packages/mistralai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/mistralai_dart/lib/src/generated/schema/schema.g.dart
  packages/mistralai_dart/oas/mistral_openapi_curated.yaml
Labels: c:llms, c:chat-models

#295 refactor: Use cl100k_base encoding model when no tokenizer is available
  packages/langchain_google/lib/src/chat_models/vertex_ai/chat_vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_mistralai/lib/src/chat_models/chat_mistralai.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
Labels: c:llms, c:chat-models

#296 feat(openai_dart): Support Together AI API
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:enhancement, p:langchain_openai

#297 feat(chat-models): Support Together AI API in ChatOpenAI wrapper
  docs/_sidebar.md
  docs/modules/model_io/models/chat_models/integrations/open_router.md
  docs/modules/model_io/models/chat_models/integrations/together_ai.md
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/together_ai.dart
  examples/docs_examples/pubspec.lock
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  examples/vertex_ai_matching_engine_setup/pubspec.lock
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/test/chat_models/together_ai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#301 feat: Support Together AI Embeddings API in openai_dart client
  packages/openai_dart/lib/src/generated/schema/create_embedding_response.dart
  packages/openai_dart/lib/src/generated/schema/embedding.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_embeddings_test.dart
Labels: t:enhancement, p:openai_dart

#302 feat: Add usage to Run/RunStep in openai_dart client
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/run_completion_usage.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/run_step_completion_usage.dart
  packages/openai_dart/lib/src/generated/schema/run_step_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_assistants_test.dart
Labels: t:enhancement, p:openai_dart

#303 feat: Support Anyscale API in openai_dart client
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, p:openai_dart

#304 feat: Support Together AI in OpenAIEmbeddings wrapper
  docs/_sidebar.md
  docs/modules/retrieval/text_embedding/integrations/openai.md
  docs/modules/retrieval/text_embedding/integrations/together_ai.md
  examples/docs_examples/bin/modules/retrieval/text_embedding/integrations/openai.dart
  examples/docs_examples/bin/modules/retrieval/text_embedding/integrations/together_ai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/test/embeddings/openai_embeddings_test.dart
  packages/langchain_openai/test/embeddings/together_ai_embeddings_test.dart
Labels: t:enhancement, c:embeddings, p:langchain_openai

#305 feat: Support Anyscale in ChatOpenAI and OpenAIEmbeddings wrappers
  README.md
  docs/_sidebar.md
  docs/modules/model_io/models/chat_models/integrations/anyscale.md
  docs/modules/retrieval/text_embedding/integrations/anyscale.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/anyscale.dart
  examples/docs_examples/bin/modules/retrieval/text_embedding/integrations/anyscale.dart
  packages/langchain/README.md
  packages/langchain_openai/test/chat_models/anyscale_test.dart
  packages/langchain_openai/test/embeddings/anyscale_embeddings_test.dart
Labels: t:enhancement, c:chat-models, c:embeddings, p:langchain_openai

#306 feat: Add count tokens method to vertex_ai client
  packages/vertex_ai/README.md
  packages/vertex_ai/lib/src/gen_ai/apis/text.dart
  packages/vertex_ai/lib/src/gen_ai/apis/text_chat.dart
  packages/vertex_ai/lib/src/gen_ai/mappers/mappers.dart
  packages/vertex_ai/lib/src/gen_ai/mappers/model.dart
  packages/vertex_ai/lib/src/gen_ai/models/model.dart
  packages/vertex_ai/test/gen_ai/gen_ai_client_test.dart
Labels: t:enhancement, p:vertex_ai

#307 refactor: Remove tiktoken in favour of countTokens API on VertexAI
  packages/langchain_google/lib/src/chat_models/vertex_ai/chat_vertex_ai.dart
  packages/langchain_google/lib/src/llms/vertex_ai.dart
  packages/langchain_google/pubspec.yaml
  packages/langchain_google/test/chat_models/chat_vertex_ai_test.dart
  packages/langchain_google/test/llms/vertex_ai_test.dart
Labels: t:enhancement, c:llms, c:chat-models, p:langchain_google

#308 fix: Specified model is always overwritten in OpenAIFunctionsAgent
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/lib/src/chains/qa_with_structure.dart
Labels: t:bug, c:agents, p:langchain_openai

#309 feat: Add gpt-4-0125-preview and gpt-4-turbo-preview in model catalog
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#310 feat: Add text-embedding-3-small and text-embedding-3-large in model catalog
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_embeddings_test.dart
Labels: t:enhancement, p:openai_dart

#311 feat: Add support for shortening embeddings
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_embeddings_test.dart
Labels: t:enhancement, p:openai_dart

#312 feat: Add support for shortening embeddings in OpenAIEmbeddings
  packages/langchain_openai/lib/src/chat_models/models/models.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/models/models.dart
  packages/langchain_openai/test/embeddings/openai_embeddings_test.dart
Labels: t:enhancement, c:embeddings, p:langchain_openai

#313 feat!: Update OpenAIEmbeddings' default model to text-embedding-3-small
  packages/langchain/lib/src/documents/embeddings/cache.dart
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/embeddings/openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
Labels: t:enhancement, c:embeddings, p:langchain_openai
