Repository davidmigloz/langchain_dart, pull requests merged in 2024-06, with the labels that each got.

#453 refactor: Migrate conditional imports to js_interop
  packages/anthropic_sdk_dart/lib/src/http_client/http_client.dart
  packages/googleai_dart/lib/src/http_client/http_client.dart
  packages/langchain_google/lib/src/utils/https_client/http_client.dart
  packages/mistralai_dart/lib/src/http_client/http_client.dart
  packages/ollama_dart/lib/src/http_client/http_client.dart
  packages/openai_dart/lib/src/http_client/http_client.dart
Labels: p:langchain_google, p:openai_dart, p:ollama_dart, p:mistralai_dart, p:googleai_dart, p:anthropic_sdk_dart

#454 feat: Bootstrap `langgraph` package
  packages/langgraph/.gitignore
  packages/langgraph/CHANGELOG.md
  packages/langgraph/LICENSE
  packages/langgraph/README.md
  packages/langgraph/analysis_options.yaml
  packages/langgraph/example/langgraph_example.dart
  packages/langgraph/lib/langgraph.dart
  packages/langgraph/pubspec.yaml
Labels: t:enhancement, p:langgraph

#451 Update ollama-curated.yaml
  packages/ollama_dart/README.md
  packages/ollama_dart/lib/src/generated/client.dart
  packages/ollama_dart/lib/src/generated/schema/process_model.dart
  packages/ollama_dart/lib/src/generated/schema/process_response.dart
  packages/ollama_dart/lib/src/generated/schema/schema.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/test/ollama_dart_models_test.dart
Labels: t:enhancement, p:ollama_dart

#455 feat: Bootstrap `tavily_dart` package
  packages/tavily_dart/.gitignore
  packages/tavily_dart/CHANGELOG.md
  packages/tavily_dart/LICENSE
  packages/tavily_dart/README.md
  packages/tavily_dart/analysis_options.yaml
  packages/tavily_dart/example/tavily_dart_example.dart
  packages/tavily_dart/lib/tavily_dart.dart
  packages/tavily_dart/pubspec.yaml
Labels: t:enhancement, p:tavily_dart

#456 feat: Implement tavily_dart, a Dart client for Tavily API
  packages/tavily_dart/README.md
  packages/tavily_dart/build.yaml
  packages/tavily_dart/example/tavily_dart_example.dart
  packages/tavily_dart/lib/src/generated/client.dart
  packages/tavily_dart/lib/src/generated/schema/schema.dart
  packages/tavily_dart/lib/src/generated/schema/schema.freezed.dart
  packages/tavily_dart/lib/src/generated/schema/schema.g.dart
  packages/tavily_dart/lib/src/generated/schema/search_request.dart
  packages/tavily_dart/lib/src/generated/schema/search_response.dart
  packages/tavily_dart/lib/src/generated/schema/search_result.dart
  packages/tavily_dart/lib/tavily_dart.dart
  packages/tavily_dart/oas/main.dart
  packages/tavily_dart/oas/tavily_openapi.yaml
  packages/tavily_dart/pubspec.yaml
  packages/tavily_dart/test/tavily_test.dart
Labels: t:enhancement, p:tavily_dart

#457 feat: Add support for usage metadata in ChatFirebaseVertexAI
  melos.yaml
  packages/langchain_firebase/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/langchain_firebase/example/pubspec.lock
  packages/langchain_firebase/example/pubspec.yaml
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/mappers.dart
  packages/langchain_firebase/pubspec.lock
  packages/langchain_firebase/pubspec.yaml
Labels: t:enhancement, p:langchain_firebase

#459 refactor: Simplify how tools are passed to the internal Firebase client
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
Labels: t:enhancement, p:langchain_firebase

#460 feat: Add support for Firebase Auth in ChatFirebaseVertexAI
  melos.yaml
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/mappers.dart
  packages/langchain_firebase/pubspec.lock
  packages/langchain_firebase/pubspec.yaml
Labels: t:enhancement, p:langchain_firebase

#461 feat: Support response MIME type and schema in ChatGoogleGenerativeAI
  melos.yaml
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/mappers.dart
  packages/langchain_google/lib/src/chat_models/google_ai/types.dart
  packages/langchain_google/pubspec.yaml
Labels: t:enhancement, p:langchain_google

#462 feat!: Update ChatGoogleGenerativeAI default model to gemini-1.5-flash
  docs/modules/model_io/models/chat_models/integrations/googleai.md
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/types.dart
Labels: t:enhancement, p:langchain_google

#463 feat: Support response MIME type in ChatFirebaseVertexAI (#461)
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/mappers.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/types.dart
Labels: t:enhancement, p:langchain_firebase

#467 feat: Add support for TavilySearchResultsTool and TavilyAnswerTool
  examples/browser_summarizer/pubspec.lock
  examples/browser_summarizer/pubspec_overrides.yaml
  examples/docs_examples/pubspec.lock
  examples/docs_examples/pubspec_overrides.yaml
  examples/hello_world_flutter/pubspec.lock
  examples/wikivoyage_eu/pubspec.lock
  examples/wikivoyage_eu/pubspec_overrides.yaml
  packages/langchain/README.md
  packages/langchain_chroma/pubspec_overrides.yaml
  packages/langchain_community/README.md
  packages/langchain_community/lib/src/tools/tavily/mappers.dart
  packages/langchain_community/lib/src/tools/tavily/tavily.dart
  packages/langchain_community/lib/src/tools/tavily/tavily_answer.dart
  packages/langchain_community/lib/src/tools/tavily/tavily_search_results.dart
  packages/langchain_community/lib/src/tools/tavily/types.dart
  packages/langchain_community/lib/src/tools/tools.dart
  packages/langchain_community/pubspec.yaml
  packages/langchain_community/pubspec_overrides.yaml
  packages/langchain_community/test/tools/tavily_test.dart
  packages/langchain_core/lib/src/tools/base.dart
  packages/langchain_openai/pubspec_overrides.yaml
  packages/langchain_supabase/pubspec_overrides.yaml
Labels: t:enhancement, c:tools, p:langchain_community

#474 feat: Add support for ChatToolChoiceRequired
  packages/langchain_core/lib/src/chat_models/types.dart
  packages/langchain_core/lib/src/language_models/types.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/mappers.dart
  packages/langchain_google/lib/src/chat_models/google_ai/mappers.dart
  packages/langchain_openai/lib/src/chat_models/mappers.dart
Labels: c:tools, p:langchain_openai, p:langchain_google, p:langchain_core, p:langchain_firebase

#475 refactor: Improve schemas names in anthropic_sdk_dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/block.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/oas/main.dart
Labels: t:enhancement, p:anthropic_sdk_dart
