Repository davidmigloz/langchain_dart, pull requests merged in 2024-08, with the labels that each got.

#520 build: Update dependencies
  examples/browser_summarizer/pubspec.lock
  examples/browser_summarizer/pubspec.yaml
  examples/docs_examples/pubspec.lock
  examples/docs_examples/pubspec.yaml
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_backend/pubspec.yaml
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_cli/pubspec.yaml
  examples/hello_world_flutter/pubspec.lock
  examples/hello_world_flutter/pubspec.yaml
  examples/vertex_ai_matching_engine_setup/pubspec.lock
  examples/vertex_ai_matching_engine_setup/pubspec.yaml
  examples/wikivoyage_eu/pubspec.lock
  examples/wikivoyage_eu/pubspec.yaml
  melos.yaml
  packages/anthropic_sdk_dart/pubspec.lock
  packages/anthropic_sdk_dart/pubspec.yaml
  packages/chromadb/pubspec.yaml
  packages/googleai_dart/pubspec.yaml
  packages/langchain/pubspec.yaml
  packages/langchain_amazon/pubspec.yaml
  packages/langchain_anthropic/pubspec.yaml
  packages/langchain_chroma/pubspec.yaml
  packages/langchain_cohere/pubspec.yaml
  packages/langchain_community/pubspec.yaml
  packages/langchain_core/lib/src/runnables/function.dart
  packages/langchain_core/pubspec.yaml
  packages/langchain_firebase/example/pubspec.lock
  packages/langchain_firebase/example/pubspec.yaml
  packages/langchain_firebase/pubspec.lock
  packages/langchain_firebase/pubspec.yaml
  packages/langchain_google/pubspec.yaml
  packages/langchain_huggingface/pubspec.yaml
  packages/langchain_microsoft/pubspec.yaml
  packages/langchain_mistralai/pubspec.yaml
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_openai/pubspec.yaml
  packages/langchain_pinecone/pubspec.yaml
  packages/langchain_supabase/pubspec.yaml
  packages/langchain_weaviate/pubspec.yaml
  packages/langchain_wikipedia/pubspec.yaml
  packages/langchain_wolfram/pubspec.yaml
  packages/langgraph/pubspec.yaml
  packages/mistralai_dart/pubspec.yaml
  packages/ollama_dart/pubspec.yaml
  packages/openai_dart/pubspec.yaml
  packages/tavily_dart/pubspec.yaml
  packages/vertex_ai/pubspec.yaml
Labels: t:enhancement

#521 docs: Suggest using few-shot prompting with Ollama tool calling
  docs/modules/model_io/models/chat_models/integrations/ollama.md
Labels: t:documentation, p:langchain_ollama

#522 feat: Add gpt-4o-2024-08-06 to model catalog in openai_dart
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/assistant_object.dart
  packages/openai_dart/lib/src/generated/schema/assistant_tools.dart
  packages/openai_dart/lib/src/generated/schema/batch.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_fine_tuning_job_request.dart
  packages/openai_dart/lib/src/generated/schema/create_message_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/message_object.dart
  packages/openai_dart/lib/src/generated/schema/modify_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_message_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_run_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/run_step_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/thread_object.dart
  packages/openai_dart/lib/src/generated/schema/update_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_file_object.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_object.dart
  packages/openai_dart/oas/main.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:langchain_openai, p:openai_dart

#526 feat: Add support for Structured Outputs in ChatOpenAI
  docs/expression_language/primitives/mapper.md
  docs/expression_language/streaming.md
  docs/modules/model_io/models/chat_models/integrations/openai.md
  docs/modules/model_io/output_parsers/json.md
  examples/docs_examples/bin/expression_language/cookbook/streaming.dart
  examples/docs_examples/bin/expression_language/primitives/mapper.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/openai.dart
  examples/docs_examples/bin/modules/model_io/output_parsers/json.dart
  packages/langchain_openai/lib/src/chat_models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/langchain_openai/test/chat_models/chat_openai_test.dart
Labels: c:chat-models, p:langchain_openai

#527 feat: Add chatgpt-4o-latest to model catalog
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, c:chat-models, p:langchain_openai, p:openai_dart

#531 feat: Add copyWith method to all RunnableOptions subclasses
  packages/langchain_core/lib/src/chat_models/fake.dart
  packages/langchain_core/lib/src/chat_models/types.dart
  packages/langchain_core/lib/src/language_models/types.dart
  packages/langchain_core/lib/src/llms/fake.dart
  packages/langchain_core/lib/src/llms/types.dart
  packages/langchain_core/lib/src/retrievers/types.dart
  packages/langchain_core/test/runnables/binding_test.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai/types.dart
  packages/langchain_mistralai/lib/src/chat_models/types.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/types.dart
Labels: t:enhancement, c:lcel

#530 feat: Add ToolsAgent for models with tool-calling support
  docs/_sidebar.md
  docs/modules/agents/agent_types/tools_agent.md
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  examples/docs_examples/bin/modules/agents/agent_types/tools_agent.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama.dart
  packages/langchain/lib/src/agents/agents.dart
  packages/langchain/lib/src/agents/tools.dart
  packages/langchain/pubspec.yaml
  packages/langchain/pubspec_overrides.yaml
  packages/langchain/test/agents/assets/state_of_the_union.txt
  packages/langchain/test/agents/tools_test.dart
Labels: t:enhancement, c:tools, c:agents

#532 feat: Deprecate OpenAIToolsAgent in favour of ToolsAgent
  docs/_sidebar.md
  docs/modules/agents/agent_types/openai_tools_agent.md
  docs/modules/agents/agents.md
  docs/modules/agents/tools/calculator.md
  docs/modules/agents/tools/openai_dall_e.md
  examples/docs_examples/bin/modules/agents/agent_types/openai_tools_agent.dart
  examples/docs_examples/bin/modules/agents/tools/calculator.dart
  examples/docs_examples/bin/modules/agents/tools/openai_dalle.dart
  packages/langchain/test/agents/tools_agent_test.dart
  packages/langchain_community/lib/src/tools/calculator.dart
  packages/langchain_core/lib/src/prompts/types.dart
  packages/langchain_core/test/runnables/map_test.dart
  packages/langchain_google/lib/src/chat_models/google_ai/mappers.dart
  packages/langchain_google/lib/src/embeddings/google_ai/google_ai_embeddings.dart
  packages/langchain_openai/README.md
  packages/langchain_openai/lib/fix_data/fix.yaml
  packages/langchain_openai/lib/src/agents/tools.dart
  packages/langchain_openai/lib/src/tools/dall_e.dart
  packages/langchain_openai/test/agents/tools_test.dart
  packages/langchain_openai/test/tools/dall_e_test.dart
Labels: c:agents, p:langchain_openai

#533 feat: Handle refusal in OpenAI's Structured Outputs API
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/chat_models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/types.dart
Labels: t:enhancement, p:langchain_openai

#535 feat: Include logprobs in result metadata from ChatOpenAI
  packages/langchain_openai/lib/src/chat_models/mappers.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#536 feat: Support OpenAI's strict mode for tool calling in ChatOpenAI
  packages/langchain_core/lib/src/tools/base.dart
  packages/langchain_core/lib/src/tools/string.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#537 build: Update analysis_options.yaml and fix linter issues
  analysis_options.yaml
  examples/browser_summarizer/lib/chrome/chrome_api.dart
  packages/anthropic_sdk_dart/lib/anthropic_sdk_dart.dart
  packages/googleai_dart/lib/googleai_dart.dart
  packages/langchain_chroma/lib/src/vector_stores/chroma.dart
  packages/langchain_community/lib/src/document_loaders/csv.dart
  packages/langchain_core/lib/agents.dart
  packages/langchain_core/lib/chains.dart
  packages/langchain_core/lib/chat_history.dart
  packages/langchain_core/lib/chat_models.dart
  packages/langchain_core/lib/document_loaders.dart
  packages/langchain_core/lib/documents.dart
  packages/langchain_core/lib/embeddings.dart
  packages/langchain_core/lib/exceptions.dart
  packages/langchain_core/lib/langchain.dart
  packages/langchain_core/lib/language_models.dart
  packages/langchain_core/lib/llms.dart
  packages/langchain_core/lib/memory.dart
  packages/langchain_core/lib/output_parsers.dart
  packages/langchain_core/lib/prompts.dart
  packages/langchain_core/lib/retrievers.dart
  packages/langchain_core/lib/runnables.dart
  packages/langchain_core/lib/src/chat_models/utils.dart
  packages/langchain_core/lib/src/prompts/types.dart
  packages/langchain_core/lib/stores.dart
  packages/langchain_core/lib/tools.dart
  packages/langchain_core/lib/utils.dart
  packages/langchain_core/lib/vector_stores.dart
  packages/langchain_firebase/example/pubspec.lock
  packages/langchain_firebase/pubspec.lock
  packages/mistralai_dart/lib/mistralai_dart.dart
  packages/ollama_dart/lib/ollama_dart.dart
Labels: t:enhancement

#538 docs: Add Code Assist AI in README and documentation
  docs/_sidebar.md
  packages/langchain/README.md
Labels: t:documentation

#539 test: Update model used in OpenAI tests to gpt-4o-mini
  packages/langchain_openai/test/agents/tools_test.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
  packages/langchain_openai/test/chat_models/anyscale_test.dart
  packages/langchain_openai/test/chat_models/chat_openai_test.dart
  packages/langchain_openai/test/embeddings/anyscale_embeddings_test.dart
Labels: p:langchain_openai

#540 feat: Retry support for Runnables
  docs/_sidebar.md
  docs/expression_language/primitives.md
  docs/expression_language/primitives/retry.md
  examples/docs_examples/bin/expression_language/primitives/retry.dart
  packages/langchain/lib/src/utils/utils.dart
  packages/langchain_core/lib/src/runnables/retry.dart
  packages/langchain_core/lib/src/runnables/runnable.dart
  packages/langchain_core/lib/src/runnables/runnables.dart
  packages/langchain_core/lib/src/utils/retry_client.dart
  packages/langchain_core/lib/src/utils/utils.dart
  packages/langchain_core/test/runnables/retry_test.dart
Labels: t:enhancement, c:lcel

#543 feat: Option to include file search results in assistants API
  packages/openai_dart/README.md
  packages/openai_dart/lib/openai_dart.dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/assistant_stream_event.dart
  packages/openai_dart/lib/src/generated/schema/assistant_tools.dart
  packages/openai_dart/lib/src/generated/schema/file_search_ranker.dart
  packages/openai_dart/lib/src/generated/schema/file_search_ranking_options.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls_file_search.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls_file_search_ranking_options_object.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls_file_search_result_content.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls_file_search_result_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/pubspec.yaml
Labels: t:enhancement, p:openai_dart

#544 feat: Add support for reduced output dimensionality in GoogleGenerativeAIEmbeddings
  packages/langchain_google/lib/src/embeddings/google_ai/google_ai_embeddings.dart
  packages/langchain_google/test/embeddings/google_ai/google_ai_embeddings_test.dart
Labels: c:embeddings, p:langchain_google
