Repository davidmigloz/langchain_dart, pull requests merged in 2024-05, with the labels that each got.

#398 refactor!: Improve Tool abstractions
  docs/modules/agents/agent_types/openai_functions_agent.md
  docs/modules/agents/tools/openai_dall_e.md
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/bin/modules/agents/agent_types/openai_functions_agent.dart
  examples/docs_examples/bin/modules/agents/tools/openai_dalle.dart
  examples/docs_examples/pubspec.lock
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  melos.yaml
  packages/langchain/lib/src/agents/executor.dart
  packages/langchain/lib/src/tools/exception.dart
  packages/langchain/lib/src/tools/invalid.dart
  packages/langchain/lib/src/tools/tools.dart
  packages/langchain/test/agents/executor_test.dart
  packages/langchain_community/lib/src/tools/calculator.dart
  packages/langchain_community/test/tools/calculator_test.dart
  packages/langchain_core/lib/src/agents/base.dart
  packages/langchain_core/lib/src/tools/base.dart
  packages/langchain_core/lib/src/tools/fake.dart
  packages/langchain_core/lib/src/tools/string.dart
  packages/langchain_core/lib/src/tools/tools.dart
  packages/langchain_core/test/runnables/batch_test.dart
  packages/langchain_core/test/runnables/invoke_test.dart
  packages/langchain_core/test/runnables/stream_test.dart
  packages/langchain_core/test/tools/base_test.dart
  packages/langchain_core/test/tools/string_test.dart
  packages/langchain_openai/lib/src/agents/functions.dart
  packages/langchain_openai/lib/src/tools/dall_e.dart
  packages/langchain_openai/test/agents/functions_test.dart
  packages/langchain_openai/test/chat_models/chat_openai_test.dart
  packages/langchain_openai/test/tools/dall_e_test.dart
Labels: t:enhancement, c:tools, p:langchain_core

#402 feat!: Migrate OpenAI Assistants API to v2 and add support for vector stores
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/client.dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/assistant_file_object.dart
  packages/openai_dart/lib/src/generated/schema/assistant_object.dart
  packages/openai_dart/lib/src/generated/schema/assistant_tools.dart
  packages/openai_dart/lib/src/generated/schema/assistants_named_tool_choice.dart
  packages/openai_dart/lib/src/generated/schema/batch.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_message_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_file_batch_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_file_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/delete_assistant_file_response.dart
  packages/openai_dart/lib/src/generated/schema/delete_vector_store_file_response.dart
  packages/openai_dart/lib/src/generated/schema/delete_vector_store_response.dart
  packages/openai_dart/lib/src/generated/schema/list_batches_response.dart
  packages/openai_dart/lib/src/generated/schema/list_vector_store_files_response.dart
  packages/openai_dart/lib/src/generated/schema/list_vector_stores_response.dart
  packages/openai_dart/lib/src/generated/schema/message_attachment.dart
  packages/openai_dart/lib/src/generated/schema/message_content_text_annotations.dart
  packages/openai_dart/lib/src/generated/schema/message_delta.dart
  packages/openai_dart/lib/src/generated/schema/message_file_object.dart
  packages/openai_dart/lib/src/generated/schema/message_object.dart
  packages/openai_dart/lib/src/generated/schema/modify_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/run_step_delta_details.dart
  packages/openai_dart/lib/src/generated/schema/run_step_delta_step_details_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls_code_output.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/thread_object.dart
  packages/openai_dart/lib/src/generated/schema/tool_resources.dart
  packages/openai_dart/lib/src/generated/schema/tool_resources_file_search_vector_store.dart
  packages/openai_dart/lib/src/generated/schema/truncation_object.dart
  packages/openai_dart/lib/src/generated/schema/update_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_expiration_after.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_file_batch_object.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_file_object.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_object.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_assistants_test.dart
Labels: t:enhancement, p:openai_dart

#404 fix: RunStepDetailsToolCalls deserialization in Assistants API v2
  packages/openai_dart/lib/src/generated/schema/run_step_delta_step_details_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/run_step_details_tool_calls.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:bug, p:openai_dart

#405 feat: Add support for stream_options in openai_dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_stream_options.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, p:openai_dart

#407 feat!: Migrate internal client from googleai_dart to google_generative_ai
  docs/modules/model_io/models/chat_models/integrations/googleai.md
  docs/modules/retrieval/text_embedding/integrations/google_ai.md
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/googleai.dart
  examples/docs_examples/pubspec.lock
  examples/docs_examples/pubspec_overrides.yaml
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  melos.yaml
  packages/googleai_dart/README.md
  packages/googleai_dart/lib/src/client.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/mappers.dart
  packages/langchain_google/lib/src/chat_models/google_ai/types.dart
  packages/langchain_google/lib/src/embeddings/google_ai/google_ai_embeddings.dart
  packages/langchain_google/lib/src/utils/https_client/http_client.dart
  packages/langchain_google/lib/src/utils/https_client/http_client_html.dart
  packages/langchain_google/lib/src/utils/https_client/http_client_io.dart
  packages/langchain_google/lib/src/utils/https_client/http_client_stub.dart
  packages/langchain_google/pubspec.yaml
  packages/langchain_google/pubspec_overrides.yaml
  packages/langchain_google/test/chat_models/google_ai/chat_google_generative_ai_test.dart
  packages/langchain_google/test/embeddings/google_ai/google_ai_embeddings_test.dart
Labels: t:enhancement, p:langchain_google

#411 Update ollama-curated.yaml
  packages/ollama_dart/README.md
  packages/ollama_dart/lib/src/generated/client.dart
  packages/ollama_dart/lib/src/generated/schema/create_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/delete_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/generate_embedding_request.dart
  packages/ollama_dart/lib/src/generated/schema/model.dart
  packages/ollama_dart/lib/src/generated/schema/model_details.dart
  packages/ollama_dart/lib/src/generated/schema/model_info.dart
  packages/ollama_dart/lib/src/generated/schema/model_info_request.dart
  packages/ollama_dart/lib/src/generated/schema/pull_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/push_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/push_model_response.dart
  packages/ollama_dart/lib/src/generated/schema/request_options.dart
  packages/ollama_dart/lib/src/generated/schema/schema.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/test/ollama_dart_chat_test.dart
  packages/ollama_dart/test/ollama_dart_completions_test.dart
  packages/ollama_dart/test/ollama_dart_embeddings_test.dart
  packages/ollama_dart/test/ollama_dart_models_test.dart
Labels: t:enhancement, p:ollama_dart

#415 feat: Add keepAlive option to OllamaEmbeddings
  packages/langchain_ollama/lib/src/embeddings/ollama_embeddings.dart
Labels: c:embeddings, p:langchain_ollama

#416 feat: Handle finish reason in ChatOllama
  packages/langchain_ollama/lib/src/chat_models/mappers.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
  packages/langchain_ollama/test/embeddings/ollama_test.dart
  packages/langchain_ollama/test/llms/ollama_test.dart
  packages/ollama_dart/test/ollama_dart_models_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_ollama

#417 feat: Update Ollama default model from llama2 to llama3
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  docs/modules/model_io/models/llms/integrations/ollama.md
  docs/modules/retrieval/text_embedding/integrations/ollama.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama.dart
  examples/docs_examples/bin/modules/model_io/models/llms/integrations/ollama.dart
  packages/langchain/README.md
  packages/langchain_ollama/lib/langchain_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/types.dart
  packages/langchain_ollama/lib/src/embeddings/ollama_embeddings.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/lib/src/llms/types.dart
  packages/langchain_ollama/pubspec.yaml
  packages/ollama_dart/README.md
  packages/ollama_dart/example/ollama_dart_example.dart
  packages/ollama_dart/lib/ollama_dart.dart
  packages/ollama_dart/lib/src/generated/schema/create_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/delete_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/generate_embedding_request.dart
  packages/ollama_dart/lib/src/generated/schema/model.dart
  packages/ollama_dart/lib/src/generated/schema/model_info_request.dart
  packages/ollama_dart/lib/src/generated/schema/pull_model_request.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/pubspec.yaml
  packages/ollama_dart/test/ollama_dart_models_test.dart
Labels: t:enhancement, c:llms, c:chat-models, c:embeddings, p:langchain_ollama

#420 feat: Add GPT-4o to model catalog
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, c:chat-models, p:langchain_openai, p:openai_dart

#421 feat: Bootstrap `langchain_firebase` package
  examples/docs_examples/pubspec.lock
  melos.yaml
  packages/langchain_firebase/.gitignore
  packages/langchain_firebase/CHANGELOG.md
  packages/langchain_firebase/LICENSE
  packages/langchain_firebase/README.md
  packages/langchain_firebase/analysis_options.yaml
  packages/langchain_firebase/example/langchain_firebase_example.dart
  packages/langchain_firebase/lib/langchain_firebase.dart
  packages/langchain_firebase/pubspec.yaml
  packages/langchain_firebase/pubspec_overrides.yaml
Labels: t:enhancement, p:langchain_firebase

#423 docs: Add Gemini 1.5 Flash to models list
  docs/modules/model_io/models/chat_models/integrations/firebase_vertex_ai.md
  docs/modules/model_io/models/chat_models/integrations/googleai.md
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/test/chat_models/google_ai/chat_google_generative_ai_test.dart
Labels: t:documentation, c:chat-models, p:langchain_google

#424 feat: Add incomplete status to RunObject in openai_dart
  packages/openai_dart/lib/src/generated/schema/assistant_object.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#425 feat: Add support for completions and embeddings in batch API in openai_dart
  packages/openai_dart/lib/src/generated/schema/batch.dart
  packages/openai_dart/lib/src/generated/schema/batch_endpoint.dart
  packages/openai_dart/lib/src/generated/schema/create_batch_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:enhancement, p:openai_dart

#428 fix: Make quote nullable in MessageContentTextAnnotationsFileCitation
  packages/openai_dart/lib/src/generated/schema/message_content_text_annotations_file_citation.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:bug, p:openai_dart

#429 fix: Rename CreateRunRequestModel factories names
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/oas/main.dart
  packages/openai_dart/test/openai_client_assistants_test.dart
Labels: t:bug, p:openai_dart

#430 fix: digest path param in Ollama blob endpoints
  packages/ollama_dart/README.md
  packages/ollama_dart/lib/src/generated/client.dart
  packages/ollama_dart/oas/ollama-curated.yaml
Labels: t:bug, p:ollama_dart

#433 feat: Implement anthropic_sdk_dart, a Dart client for Anthropic API
  packages/anthropic_sdk_dart/CHANGELOG.md
  packages/anthropic_sdk_dart/LICENSE
  packages/anthropic_sdk_dart/README.md
  packages/anthropic_sdk_dart/analysis_options.yaml
  packages/anthropic_sdk_dart/build.yaml
  packages/anthropic_sdk_dart/lib/anthropic_sdk_dart.dart
  packages/anthropic_sdk_dart/lib/src/client.dart
  packages/anthropic_sdk_dart/lib/src/extensions.dart
  packages/anthropic_sdk_dart/lib/src/generated/client.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/block.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_request_metadata.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/image_block_source.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_delta.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_delta_usage.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_role.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_stream_event.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_stream_event_type.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/stop_reason.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/text_block_delta.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/usage.dart
  packages/anthropic_sdk_dart/lib/src/http_client/http_client.dart
  packages/anthropic_sdk_dart/lib/src/http_client/http_client_html.dart
  packages/anthropic_sdk_dart/lib/src/http_client/http_client_io.dart
  packages/anthropic_sdk_dart/lib/src/http_client/http_client_stub.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/oas/main.dart
  packages/anthropic_sdk_dart/pubspec.lock
  packages/anthropic_sdk_dart/pubspec.yaml
  packages/anthropic_sdk_dart/test/messages_test.dart
Labels: t:enhancement, p:anthropic_sdk_dart

#435 fix: Fix deserialization of sealed classes
  melos.yaml
  packages/chromadb/pubspec.yaml
  packages/googleai_dart/pubspec.yaml
  packages/mistralai_dart/pubspec.yaml
  packages/ollama_dart/pubspec.yaml
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_embedding_request.dart
  packages/openai_dart/lib/src/generated/schema/create_message_request.dart
  packages/openai_dart/pubspec.yaml
Labels: t:bug, p:openai_dart

#436 fix: Make vector store name optional in openai_dart
  packages/openai_dart/lib/openai_dart.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
Labels: t:bug, p:openai_dart

#437 docs: Document tool calling with OpenRouter
  docs/modules/model_io/models/chat_models/integrations/open_router.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/open_router.dart
  packages/langchain_openai/test/chat_models/open_router_test.dart
Labels: t:documentation, c:chat-models

#438 feat: Add support for ObjectBoxVectorStore
  docs/_sidebar.md
  docs/modules/retrieval/vector_stores/integrations/img/objectbox.png
  docs/modules/retrieval/vector_stores/integrations/memory.md
  docs/modules/retrieval/vector_stores/integrations/objectbox.md
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/bin/modules/retrieval/vector_stores/integrations/objectbox.dart
  examples/docs_examples/pubspec.lock
  melos.yaml
  packages/langchain/lib/src/vector_stores/memory.dart
  packages/langchain_community/lib/langchain_community.dart
  packages/langchain_community/lib/src/vector_stores/objectbox/base_objectbox.dart
  packages/langchain_community/lib/src/vector_stores/objectbox/objectbox-model.json
  packages/langchain_community/lib/src/vector_stores/objectbox/objectbox.dart
  packages/langchain_community/lib/src/vector_stores/objectbox/objectbox.g.dart
  packages/langchain_community/lib/src/vector_stores/objectbox/types.dart
  packages/langchain_community/lib/src/vector_stores/vector_stores.dart
  packages/langchain_community/pubspec.yaml
  packages/langchain_community/pubspec_overrides.yaml
  packages/langchain_community/test/vector_stores/objectbox/objectbox_test.dart
Labels: t:enhancement, c:vector-stores, p:langchain_community

#439 feat: Add Runnable.close() to close any resources associated with it
  packages/langchain_core/lib/src/runnables/binding.dart
  packages/langchain_core/lib/src/runnables/map.dart
  packages/langchain_core/lib/src/runnables/runnable.dart
  packages/langchain_core/lib/src/runnables/sequence.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_mistralai/lib/src/chat_models/chat_mistralai.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/lib/src/tools/dall_e.dart
  packages/langchain_openai/test/chat_models/open_router_test.dart
Labels: t:enhancement, c:lcel

#440 fix: Stream errors are not propagated by StringOutputParser
  packages/langchain_core/lib/src/output_parsers/string.dart
  packages/langchain_core/lib/src/runnables/sequence.dart
Labels: t:bug, c:output-parsers

#441 docs: Update hello_world_flutter example with Ollama, GoogleAI and Mistral suport
  examples/hello_world_flutter/README.md
  examples/hello_world_flutter/android/app/build.gradle
  examples/hello_world_flutter/android/build.gradle
  examples/hello_world_flutter/android/gradle.properties
  examples/hello_world_flutter/android/gradle/wrapper/gradle-wrapper.properties
  examples/hello_world_flutter/android/settings.gradle
  examples/hello_world_flutter/devtools_options.yaml
  examples/hello_world_flutter/hello_world_flutter.gif
  examples/hello_world_flutter/hello_world_flutter_local.gif
  examples/hello_world_flutter/hello_world_flutter_openai.gif
  examples/hello_world_flutter/ios/Flutter/AppFrameworkInfo.plist
  examples/hello_world_flutter/ios/Runner.xcodeproj/project.pbxproj
  examples/hello_world_flutter/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/hello_world_flutter/lib/app.dart
  examples/hello_world_flutter/lib/home/bloc/home_screen_cubit.dart
  examples/hello_world_flutter/lib/home/bloc/home_screen_state.dart
  examples/hello_world_flutter/lib/home/bloc/providers.dart
  examples/hello_world_flutter/lib/home/home_screen.dart
  examples/hello_world_flutter/pubspec.lock
  examples/hello_world_flutter/pubspec.yaml
  examples/hello_world_flutter/pubspec_overrides.yaml
  examples/hello_world_flutter/web/flutter_bootstrap.js
  examples/hello_world_flutter/web/index.html
  examples/hello_world_flutter/web/manifest.json
Labels: t:documentation

#443 refactor: Reformat OpenAI OpenAPI specs
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: p:openai_dart

#444 feat: Support FastChat OpenAI-compatible API
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/function_object.dart
  packages/openai_dart/lib/src/generated/schema/function_parameters.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#445 feat: Support buffered stream responses in ollama_dart
  packages/ollama_dart/lib/src/client.dart
Labels: t:enhancement, p:ollama_dart

#446 docs: Add WikivoyageEU example, a fully local RAG with Llama3 and ObjectBox
  examples/wikivoyage_eu/.gitignore
  examples/wikivoyage_eu/README.md
  examples/wikivoyage_eu/analysis_options.yaml
  examples/wikivoyage_eu/bin/injestion.dart
  examples/wikivoyage_eu/bin/wikivoyage_eu.dart
  examples/wikivoyage_eu/bin/wikivoyage_eu_dataset.csv
  examples/wikivoyage_eu/pubspec.lock
  examples/wikivoyage_eu/pubspec.yaml
  examples/wikivoyage_eu/pubspec_overrides.yaml
  examples/wikivoyage_eu/rag.png
  examples/wikivoyage_eu/wikivoyage_eu.gif
Labels: t:documentation

#448 fix: Add missing dependency in langchain_community package
  melos.yaml
  packages/langchain_community/pubspec.yaml
Labels: t:bug, p:langchain_community
