Repository davidmigloz/langchain_dart, pull requests merged in 2024-07, with the labels that each got.

#476 feat: Add extensions on ToolResultBlockContent in anthropic_sdk_dart
  packages/anthropic_sdk_dart/lib/src/extensions.dart
  packages/langchain_anthropic/README.md
Labels: t:enhancement, p:anthropic_sdk_dart

#477 feat: Add ChatAnthropic integration
  docs/_sidebar.md
  docs/modules/model_io/models/chat_models/how_to/tools.md
  docs/modules/model_io/models/chat_models/integrations/anthropic.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/anthropic.dart
  examples/docs_examples/pubspec.lock
  examples/docs_examples/pubspec.yaml
  examples/docs_examples/pubspec_overrides.yaml
  packages/anthropic_sdk_dart/README.md
  packages/langchain_anthropic/example/langchain_anthropic_example.dart
  packages/langchain_anthropic/lib/langchain_anthropic.dart
  packages/langchain_anthropic/lib/src/chat_models/chat_anthropic.dart
  packages/langchain_anthropic/lib/src/chat_models/chat_models.dart
  packages/langchain_anthropic/lib/src/chat_models/mappers.dart
  packages/langchain_anthropic/lib/src/chat_models/types.dart
  packages/langchain_anthropic/pubspec.yaml
  packages/langchain_anthropic/pubspec_overrides.yaml
  packages/langchain_anthropic/test/chat_models/assets/apple.jpeg
  packages/langchain_anthropic/test/chat_models/chat_anthropic_test.dart
  packages/langchain_core/lib/src/chat_models/types.dart
Labels: t:enhancement, c:chat-models, p:langchain_anthropic

#479 docs: Update Ollama request options default values in API docs
  packages/langchain_ollama/lib/src/chat_models/types.dart
  packages/ollama_dart/lib/src/generated/schema/request_options.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/oas/ollama-curated.yaml
Labels: t:documentation, p:ollama_dart, p:langchain_ollama

#484 refactor: Depend on exact versions for internal 1st party dependencies
  packages/langchain/pubspec.yaml
  packages/langchain_anthropic/pubspec.yaml
  packages/langchain_chroma/pubspec.yaml
  packages/langchain_community/pubspec.yaml
  packages/langchain_firebase/pubspec.yaml
  packages/langchain_google/pubspec.yaml
  packages/langchain_mistralai/pubspec.yaml
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_openai/pubspec.yaml
  packages/langchain_pinecone/pubspec.yaml
  packages/langchain_supabase/pubspec.yaml
Labels: p:langchain

#485 build: Expand collection package version constraints to 1.20.0
  melos.yaml
  packages/langchain/pubspec.yaml
  packages/langchain_anthropic/pubspec.yaml
  packages/langchain_core/pubspec.yaml
  packages/langchain_firebase/pubspec.yaml
  packages/langchain_google/pubspec.yaml
  packages/langchain_mistralai/pubspec.yaml
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_openai/pubspec.yaml
  packages/vertex_ai/pubspec.yaml
Labels: dependencies

#483 feat(chat-models): Tool calling feature for Ollama (#288)
  docs/_sidebar.md
  docs/modules/model_io/models/chat_models/integrations/ollama_tools.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama_tools.dart
  packages/langchain_core/lib/src/tools/base.dart
  packages/langchain_ollama/lib/src/chat_models/chat_models.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/mappers.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/types.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/chat_ollama_tools.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/mappers.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/types.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_tools_test.dart
Labels: t:enhancement, p:langchain_ollama

#488 feat: Update ollama-curated.yaml
  packages/ollama_dart/README.md
  packages/ollama_dart/lib/src/generated/client.dart
  packages/ollama_dart/lib/src/generated/schema/model_info.dart
  packages/ollama_dart/lib/src/generated/schema/model_information.dart
  packages/ollama_dart/lib/src/generated/schema/schema.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/lib/src/generated/schema/version_response.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/test/ollama_dart_chat_test.dart
  packages/ollama_dart/test/ollama_dart_completions_test.dart
  packages/ollama_dart/test/ollama_dart_embeddings_test.dart
  packages/ollama_dart/test/ollama_dart_models_test.dart
  packages/ollama_dart/test/ollama_dart_version_test.dart
Labels: t:enhancement, p:ollama_dart

#491 feat: Add support for overrides in the file search tool in openai_dart
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/assistant_tools.dart
  packages/openai_dart/lib/src/generated/schema/create_batch_request.dart
  packages/openai_dart/lib/src/generated/schema/create_fine_tuning_job_request.dart
  packages/openai_dart/lib/src/generated/schema/message_content_text_annotations_file_citation.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#492 feat: Add support for disabling parallel tool calls in openai_dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#493 feat: Add support for disabling parallel tool calls in ChatOpenAI
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/chat_models/types.dart
Labels: t:enhancement, p:langchain_openai

#494 feat: Add support for service tier in openai_dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_response.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_stream_response.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/service_tier.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/pubspec.yaml
Labels: t:enhancement, p:openai_dart

#495 feat: Add support for service tier in ChatOpenAI
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/chat_models/mappers.dart
  packages/langchain_openai/lib/src/chat_models/types.dart
Labels: t:enhancement, p:langchain_openai

#496 feat: Support chunking strategy in file_search tool in openai_dart
  packages/openai_dart/lib/src/generated/schema/chunking_strategy_request_param.dart
  packages/openai_dart/lib/src/generated/schema/chunking_strategy_response_param.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_file_batch_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_file_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/static_chunking_strategy.dart
  packages/openai_dart/lib/src/generated/schema/tool_resources_file_search_vector_store.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_file_object.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart

#497 feat: Add GPT-4o-mini to model catalog
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/fine_tuning_job_hyperparameters.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:langchain_openai, p:openai_dart

#498 refactor: Remove default model from the language model options
  packages/langchain_anthropic/lib/src/chat_models/chat_anthropic.dart
  packages/langchain_anthropic/lib/src/chat_models/mappers.dart
  packages/langchain_anthropic/lib/src/chat_models/types.dart
  packages/langchain_anthropic/pubspec.yaml
  packages/langchain_core/lib/src/chat_models/types.dart
  packages/langchain_core/lib/src/language_models/base.dart
  packages/langchain_core/lib/src/language_models/types.dart
  packages/langchain_core/lib/src/llms/types.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/chat_firebase_vertex_ai.dart
  packages/langchain_firebase/lib/src/chat_models/vertex_ai/types.dart
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/types.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai/chat_vertex_ai.dart
  packages/langchain_google/lib/src/chat_models/vertex_ai/types.dart
  packages/langchain_google/lib/src/llms/vertex_ai/types.dart
  packages/langchain_google/lib/src/llms/vertex_ai/vertex_ai.dart
  packages/langchain_google/test/chat_models/google_ai/chat_google_generative_ai_test.dart
  packages/langchain_mistralai/lib/src/chat_models/chat_mistralai.dart
  packages/langchain_mistralai/lib/src/chat_models/types.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/types.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/chat_ollama_tools.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/types.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/lib/src/llms/types.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/langchain_openai/lib/src/llms/openai.dart
  packages/langchain_openai/lib/src/llms/types.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
  packages/langchain_openai/test/chat_models/anyscale_test.dart
  packages/langchain_openai/test/chat_models/chat_openai_test.dart
Labels: p:langchain_openai, p:langchain_google, p:langchain_ollama, p:langchain_mistralai, p:langchain_firebase, p:langchain_anthropic

#502 feat: Allow to customize OpenAI-Beta header in openai_dart
  packages/openai_dart/lib/src/client.dart
Labels: t:enhancement, p:openai_dart

#501 feat: Fallback support for Runnables
  docs/_sidebar.md
  docs/expression_language/fallbacks.md
  examples/docs_examples/bin/expression_language/fallbacks.dart
  packages/langchain_core/lib/src/chat_models/fake.dart
  packages/langchain_core/lib/src/runnables/fallbacks.dart
  packages/langchain_core/lib/src/runnables/runnable.dart
  packages/langchain_core/lib/src/runnables/runnables.dart
  packages/langchain_core/test/runnables/fallbacks_test.dart
Labels: t:enhancement, c:lcel, p:langchain_core

#503 feat: Add suffix support in Ollama completions API in ollama_dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/pubspec.yaml
Labels: t:enhancement, p:ollama_dart

#504 feat: Add tool calling support in ollama_dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/mappers.dart
  packages/ollama_dart/README.md
  packages/ollama_dart/example/ollama_dart_example.dart
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/message.dart
  packages/ollama_dart/lib/src/generated/schema/schema.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/lib/src/generated/schema/tool.dart
  packages/ollama_dart/lib/src/generated/schema/tool_call.dart
  packages/ollama_dart/lib/src/generated/schema/tool_call_function.dart
  packages/ollama_dart/lib/src/generated/schema/tool_call_function_args.dart
  packages/ollama_dart/lib/src/generated/schema/tool_function.dart
  packages/ollama_dart/lib/src/generated/schema/tool_function_params.dart
  packages/ollama_dart/oas/ollama-curated.yaml
  packages/ollama_dart/pubspec.yaml
  packages/ollama_dart/test/ollama_dart_chat_test.dart
Labels: t:enhancement, p:ollama_dart

#505 feat: Add tool calling support in ChatOllama
  docs/modules/model_io/models/chat_models/how_to/tools.md
  docs/modules/model_io/models/chat_models/integrations/anthropic.md
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama.dart
  packages/langchain/README.md
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/mappers.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/types.dart
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
Labels: t:enhancement, c:tools, p:langchain_ollama

#506 feat!: Update Ollama default model to llama-3.1
  docs/expression_language/primitives/router.md
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  docs/modules/model_io/models/llms/integrations/ollama.md
  docs/modules/retrieval/text_embedding/integrations/ollama.md
  docs/modules/retrieval/vector_stores/integrations/objectbox.md
  examples/docs_examples/bin/expression_language/cookbook/routing.dart
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama.dart
  examples/docs_examples/bin/modules/model_io/models/llms/integrations/ollama.dart
  examples/docs_examples/bin/modules/retrieval/vector_stores/integrations/objectbox.dart
  examples/hello_world_flutter/lib/home/bloc/providers.dart
  examples/wikivoyage_eu/README.md
  examples/wikivoyage_eu/bin/wikivoyage_eu.dart
  examples/wikivoyage_eu/pubspec.yaml
  packages/langchain_community/lib/src/vector_stores/objectbox/objectbox.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/chat_ollama_tools.dart
  packages/langchain_ollama/lib/src/embeddings/ollama_embeddings.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/test/embeddings/ollama_test.dart
  packages/langchain_ollama/test/llms/ollama_test.dart
  packages/ollama_dart/example/ollama_dart_example.dart
  packages/ollama_dart/oas/ollama-curated.yaml
Labels: t:enhancement, p:langchain_ollama

#507 feat!: Update ChatOpenAI default model to gpt-4o-mini
  docs/expression_language/cookbook/prompt_llm_parser.md
  docs/expression_language/get_started.md
  docs/expression_language/interface.md
  docs/expression_language/primitives/binding.md
  docs/expression_language/primitives/function.md
  docs/expression_language/streaming.md
  docs/modules/agents/agent_types/agent_types.md
  docs/modules/model_io/models/chat_models/chat_models.md
  examples/docs_examples/bin/expression_language/cookbook/prompt_llm_parser.dart
  examples/docs_examples/bin/expression_language/cookbook/streaming.dart
  examples/docs_examples/bin/expression_language/get_started.dart
  examples/docs_examples/bin/expression_language/interface.dart
  examples/docs_examples/bin/expression_language/primitives/binding.dart
  examples/docs_examples/bin/expression_language/primitives/function.dart
  packages/langchain_openai/lib/src/chains/qa_with_sources.dart
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
  packages/langchain_openai/test/chains/qa_with_sources_test.dart
  packages/langchain_openai/test/chat_models/chat_openai_test.dart
  packages/langchain_openai/test/chat_models/open_router_test.dart
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_openai

#508 docs: Update Ollama documentation
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama.dart
Labels: t:documentation, p:langchain_ollama

#509 refactor: Remove ChatOllamaTools in favour of ChatOllama
  docs/_sidebar.md
  docs/modules/model_io/models/chat_models/integrations/ollama.md
  docs/modules/model_io/models/chat_models/integrations/ollama_tools.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/ollama_tools.dart
  packages/langchain/README.md
  packages/langchain_ollama/README.md
  packages/langchain_ollama/lib/src/chat_models/chat_models.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/chat_ollama.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/chat_ollama_tools.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/mappers.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama_tools/types.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_test.dart
  packages/langchain_ollama/test/chat_models/chat_ollama_tools_test.dart
Labels: p:langchain_ollama

#511 refactor: Don't send OpenAI-Beta header in ChatOpenAI
  packages/langchain_openai/lib/src/chat_models/chat_openai.dart
Labels: t:enhancement, p:langchain_openai

#512 feat: Add support for min_p in Ollama
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/mappers.dart
  packages/langchain_ollama/lib/src/chat_models/chat_ollama/types.dart
  packages/langchain_ollama/lib/src/llms/ollama.dart
  packages/langchain_ollama/lib/src/llms/types.dart
  packages/ollama_dart/lib/src/generated/schema/request_options.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/oas/ollama-curated.yaml
Labels: t:enhancement, p:ollama_dart, p:langchain_ollama
