Repository davidmigloz/langchain_dart, pull requests merged in 2024-10, with the labels that each got.

#562 feat: Implement openai_realtime_dart, a Dart client for OpenAI Realtime API
  melos.yaml
  packages/langchain/README.md
  packages/openai_realtime_dart/.gitignore
  packages/openai_realtime_dart/CHANGELOG.md
  packages/openai_realtime_dart/LICENSE
  packages/openai_realtime_dart/README.md
  packages/openai_realtime_dart/analysis_options.yaml
  packages/openai_realtime_dart/example/openai_realtime_dart_example.dart
  packages/openai_realtime_dart/lib/openai_realtime_dart.dart
  packages/openai_realtime_dart/lib/src/api.dart
  packages/openai_realtime_dart/lib/src/client.dart
  packages/openai_realtime_dart/lib/src/conversation.dart
  packages/openai_realtime_dart/lib/src/event_handler.dart
  packages/openai_realtime_dart/lib/src/utils.dart
  packages/openai_realtime_dart/lib/src/web_socket/web_socket.dart
  packages/openai_realtime_dart/lib/src/web_socket/web_socket_html.dart
  packages/openai_realtime_dart/lib/src/web_socket/web_socket_io.dart
  packages/openai_realtime_dart/lib/src/web_socket/web_socket_stub.dart
  packages/openai_realtime_dart/pubspec.yaml
  packages/openai_realtime_dart/test/api_test.dart
  packages/openai_realtime_dart/test/audio_test.dart
  packages/openai_realtime_dart/test/client_test.dart
  packages/openai_realtime_dart/test/samples/toronto.pcm
  packages/openai_realtime_dart/test/utils.dart
Labels: t:enhancement, p:openai_realtime_dart

#564 feat: Add support for code execution in ChatGoogleGenerativeAI
  docs/modules/model_io/models/chat_models/integrations/googleai.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/googleai.dart
  examples/docs_examples/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  melos.yaml
  packages/langchain_google/lib/src/chat_models/google_ai/chat_google_generative_ai.dart
  packages/langchain_google/lib/src/chat_models/google_ai/mappers.dart
  packages/langchain_google/lib/src/chat_models/google_ai/types.dart
  packages/langchain_google/pubspec.yaml
  packages/langchain_google/test/chat_models/google_ai/chat_google_generative_ai_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_google

#566 fix: UUID 'Namespace' can't be assigned to the parameter type 'String?'
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/pubspec.lock
  examples/hello_world_backend/pubspec.lock
  examples/hello_world_cli/pubspec.lock
  examples/hello_world_flutter/pubspec.lock
  examples/wikivoyage_eu/pubspec.lock
  melos.yaml
  packages/langchain/lib/src/embeddings/cache.dart
  packages/langchain/pubspec.yaml
  packages/langchain/test/embeddings/cache.dart
  packages/langchain_chroma/pubspec.yaml
  packages/langchain_community/pubspec.yaml
  packages/langchain_firebase/example/pubspec.lock
  packages/langchain_firebase/pubspec.lock
  packages/langchain_firebase/pubspec.yaml
  packages/langchain_google/pubspec.yaml
  packages/langchain_ollama/pubspec.yaml
  packages/langchain_openai/pubspec.yaml
  packages/langchain_pinecone/pubspec.yaml
Labels: t:bug, p:langchain

#572 Fixes Openai realtime implementation, fixing tool usage in particular.
  packages/openai_realtime_dart/lib/src/api.dart
  packages/openai_realtime_dart/lib/src/client.dart
  packages/openai_realtime_dart/lib/src/conversation.dart
  packages/openai_realtime_dart/test/client_test.dart
Labels: t:bug, p:openai_realtime_dart

#574 OpenAI: Fix submitThreadToolOutputsToRunStream
  packages/openai_dart/lib/src/client.dart
Labels: t:bug, p:openai_dart

#573 Update anthropic_openapi_curated.yaml to add discriminator mapping
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
Labels: t:bug, p:anthropic_sdk_dart

#576 feat: Support multi-modal moderations in openai_dart
  packages/openai_dart/README.md
  packages/openai_dart/example/openai_dart_example.dart
  packages/openai_dart/lib/src/generated/schema/create_moderation_request.dart
  packages/openai_dart/lib/src/generated/schema/moderation.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories_applied_input_types.dart
  packages/openai_dart/lib/src/generated/schema/moderation_categories_scores.dart
  packages/openai_dart/lib/src/generated/schema/moderation_input_object.dart
  packages/openai_dart/lib/src/generated/schema/moderation_input_object_type.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/main.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_moderations_test.dart
Labels: t:enhancement, p:openai_dart

#577 feat: Add support for audio in chat completions in openai_dart
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/assistant_object.dart
  packages/openai_dart/lib/src/generated/schema/batch.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_audio_format.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_audio_options.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_audio_voice.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_content_part.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message_content_part_type.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_modality.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_message_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/create_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/message_object.dart
  packages/openai_dart/lib/src/generated/schema/modify_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_message_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_run_request.dart
  packages/openai_dart/lib/src/generated/schema/modify_thread_request.dart
  packages/openai_dart/lib/src/generated/schema/run_object.dart
  packages/openai_dart/lib/src/generated/schema/run_step_object.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/thread_object.dart
  packages/openai_dart/lib/src/generated/schema/tool_resources.dart
  packages/openai_dart/lib/src/generated/schema/tool_resources_file_search_vector_store.dart
  packages/openai_dart/lib/src/generated/schema/update_vector_store_request.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_file_batch_object.dart
  packages/openai_dart/lib/src/generated/schema/vector_store_object.dart
  packages/openai_dart/oas/main.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
Labels: t:enhancement, p:openai_dart

#578 feat: Add support for storing outputs for model distillation and metadata in openai_dart
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:enhancement, p:openai_dart

#579 docs: Fix openai_dart assistants API outdated documentation
  packages/openai_dart/README.md
Labels: t:documentation, p:openai_dart

#581 fix: Update ObjectBox SDK to v4.0.3 to fix StorageException in iOS
  examples/browser_summarizer/pubspec.lock
  examples/docs_examples/pubspec.lock
  examples/wikivoyage_eu/pubspec.lock
  melos.yaml
  packages/langchain_community/pubspec.yaml
Labels: t:bug, p:langchain_community

#582 docs: Add xAI to list of OpenAI-compatible APIs in openai_dart
  packages/openai_dart/README.md
Labels: t:documentation, p:openai_dart

#583 feat: Add claude-3-5-sonnet-20241022 to model catalog in anthropic_sdk_dart
  packages/anthropic_sdk_dart/README.md
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/test/messages_test.dart
Labels: t:enhancement, p:anthropic_sdk_dart

#584 feat: Update ChatAnthropic default model to claude-3-5-sonnet-20241022
  docs/modules/model_io/models/chat_models/integrations/anthropic.md
  examples/docs_examples/bin/modules/model_io/models/chat_models/integrations/anthropic.dart
  packages/langchain_anthropic/lib/src/chat_models/chat_anthropic.dart
  packages/langchain_anthropic/lib/src/chat_models/types.dart
  packages/langchain_anthropic/test/chat_models/chat_anthropic_test.dart
Labels: t:enhancement, c:chat-models, p:langchain_anthropic

#585 feat: Add support for Message Batches in anthropic_sdk_dart
  packages/anthropic_sdk_dart/README.md
  packages/anthropic_sdk_dart/lib/src/client.dart
  packages/anthropic_sdk_dart/lib/src/generated/client.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/batch_message_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/block.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_batch_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_batch.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_batch_request_counts.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/test/messages_test.dart
Labels: t:enhancement, p:anthropic_sdk_dart

#586 feat!: Add computer use support in anthropic_sdk_dart
  packages/anthropic_sdk_dart/README.md
  packages/anthropic_sdk_dart/example/anthropic_sdk_dart_example.dart
  packages/anthropic_sdk_dart/lib/src/client.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/cache_control_ephemeral.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/error.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_delta.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_stream_event.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/message_stream_event_type.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/stop_reason.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/tool.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/tool_choice.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/tool_choice_type.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/oas/main.dart
  packages/anthropic_sdk_dart/test/messages_test.dart
  packages/langchain_anthropic/lib/src/chat_models/mappers.dart
Labels: t:enhancement, p:anthropic_sdk_dart

#587 feat!: Add support for prompt caching in anthropic_sdk_dart
  packages/anthropic_sdk_dart/README.md
  packages/anthropic_sdk_dart/lib/src/generated/schema/block.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/cache_control_ephemeral.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/create_message_request.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.freezed.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/schema.g.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/tool.dart
  packages/anthropic_sdk_dart/lib/src/generated/schema/usage.dart
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/oas/main.dart
  packages/anthropic_sdk_dart/test/assets/shakespeare.txt
  packages/anthropic_sdk_dart/test/messages_test.dart
  packages/langchain_anthropic/lib/src/chat_models/mappers.dart
Labels: t:enhancement, p:anthropic_sdk_dart

#588 fix: Added missing discriminator mapping to anthropic_openapi_curated.yaml
  packages/anthropic_sdk_dart/oas/anthropic_openapi_curated.yaml
Labels: t:bug, p:anthropic_sdk_dart

#590 feat: Make openai_realtime_dart client strong-typed
  packages/openai_dart/oas/main.dart
  packages/openai_realtime_dart/README.md
  packages/openai_realtime_dart/build.yaml
  packages/openai_realtime_dart/example/openai_realtime_dart_example.dart
  packages/openai_realtime_dart/lib/openai_realtime_dart.dart
  packages/openai_realtime_dart/lib/src/api.dart
  packages/openai_realtime_dart/lib/src/client.dart
  packages/openai_realtime_dart/lib/src/conversation.dart
  packages/openai_realtime_dart/lib/src/event_handler.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/api_error.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/audio_format.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/content_part.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/content_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/conversation.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/delta.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/event_handler_result.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/formatted_item.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/formatted_property.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/formatted_tool.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/input_audio_transcription_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item_role.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item_speech.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item_status.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item_transcript.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/modality.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/object_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/rate_limit.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/rate_limit_name.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/realtime_event.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/realtime_event_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_details.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_incomplete_reason.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.freezed.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.g.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/tool_choice_forced.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/tool_definition.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/tool_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/transcription_error.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/turn_detection.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/turn_detection_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/usage.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/voice.dart
  packages/openai_realtime_dart/lib/src/schema/schema.dart
  packages/openai_realtime_dart/lib/src/utils.dart
  packages/openai_realtime_dart/oas/main.dart
  packages/openai_realtime_dart/oas/openai_spec_curated.yaml
  packages/openai_realtime_dart/oas/openai_spec_official.yaml
  packages/openai_realtime_dart/pubspec.yaml
  packages/openai_realtime_dart/test/api_test.dart
  packages/openai_realtime_dart/test/audio_test.dart
  packages/openai_realtime_dart/test/client_test.dart
Labels: t:enhancement, p:openai_realtime_dart

#593 feat: Add five new voice types in openai_realtime_dart and minor improvements
  packages/openai_realtime_dart/lib/src/schema/generated/schema/input_audio_transcription_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/item.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/rate_limit.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/realtime_event.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_details.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_incomplete_reason.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.freezed.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.g.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/tool_definition.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/turn_detection.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/usage.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/voice.dart
  packages/openai_realtime_dart/oas/openai_spec_curated.yaml
  packages/openai_realtime_dart/oas/openai_spec_official.yaml
Labels: t:enhancement, p:openai_realtime_dart

#594 feat: Add five new voice types to Chat Completions API in openai_dart
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/schema/chat_completion_audio_options.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_audio_voice.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/oas/openapi_official.yaml
Labels: t:enhancement, p:openai_dart
