Repository davidmigloz/langchain_dart, pull requests merged in 2025-06, with the labels that each got.

#707 feat: Align OpenAI Realtime API changes
  packages/openai_realtime_dart/lib/src/schema/generated/schema/content_part_item_reference.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/content_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/realtime_event.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_details.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_reason.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/response_status_type.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.freezed.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/schema.g.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/session_config.dart
  packages/openai_realtime_dart/lib/src/schema/generated/schema/turn_detection.dart
  packages/openai_realtime_dart/oas/openai_spec_curated.yaml
  packages/openai_realtime_dart/oas/openai_spec_official.yaml
Labels: t:enhancement, p:openai_realtime_dart

#708 refactor: Fix linter issues
  packages/langchain_firebase/example/pubspec.lock
  packages/langchain_firebase/pubspec.lock
  packages/langchain_mistralai/pubspec_overrides.yaml
  packages/langchain_ollama/pubspec_overrides.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
  packages/openai_realtime_dart/lib/src/api.dart
Labels: t:enhancement

#714 feat: Update OpenAI model catalog
  packages/langchain_openai/lib/src/chat_models/types.dart
  packages/openai_dart/lib/src/generated/schema/create_assistant_request.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_image_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/create_thread_and_run_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
Labels: t:enhancement, p:openai_dart, codex

#716 feat: Add support for web search, gpt-image-1 and list chat completions
  .github/workflows/test.yaml
  packages/openai_dart/README.md
  packages/openai_dart/lib/src/generated/client.dart
  packages/openai_dart/lib/src/generated/schema/annotation.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_list.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_message.dart
  packages/openai_dart/lib/src/generated/schema/chat_completion_metadata.dart
  packages/openai_dart/lib/src/generated/schema/create_chat_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_completion_request.dart
  packages/openai_dart/lib/src/generated/schema/create_image_request.dart
  packages/openai_dart/lib/src/generated/schema/create_run_request.dart
  packages/openai_dart/lib/src/generated/schema/schema.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/lib/src/generated/schema/service_tier.dart
  packages/openai_dart/lib/src/generated/schema/web_search_context_size.dart
  packages/openai_dart/lib/src/generated/schema/web_search_location.dart
  packages/openai_dart/lib/src/generated/schema/web_search_options.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/pubspec.yaml
  packages/openai_dart/test/openai_client_chat_test.dart
  packages/openai_dart/test/openai_client_completions_test.dart
  packages/openai_dart/test/openai_client_embeddings_test.dart
  packages/openai_dart/test/openai_client_images_test.dart
Labels: t:enhancement, p:openai_dart

#721 Add think parameter to ollama dart request
  packages/ollama_dart/lib/src/generated/schema/generate_chat_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_request.dart
  packages/ollama_dart/lib/src/generated/schema/generate_completion_response.dart
  packages/ollama_dart/lib/src/generated/schema/message.dart
  packages/ollama_dart/lib/src/generated/schema/schema.freezed.dart
  packages/ollama_dart/lib/src/generated/schema/schema.g.dart
  packages/ollama_dart/oas/ollama-curated.yaml
Labels: t:enhancement, p:ollama_dart

#723 fix: toolChoice required infinite loop in openai_realtime_dart
  packages/openai_realtime_dart/lib/src/client.dart
Labels: t:bug, p:openai_realtime_dart, codex

#730 docs: Update openai_dart readme
  packages/openai_dart/README.md
  packages/openai_dart/pubspec.yaml
Labels: t:documentation, p:openai_dart

#735 feat: Make Model. created field nullable to support Google's OpenAI-compatible API
  packages/openai_dart/lib/src/generated/schema/model.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_compatible_apis.dart
Labels: t:enhancement, p:openai_dart

#736 feat: Make Model.object/owned_by fields nullable to support OpenRouter's OpenAI-compatible API
  packages/openai_dart/lib/src/generated/schema/list_models_response.dart
  packages/openai_dart/lib/src/generated/schema/model.dart
  packages/openai_dart/lib/src/generated/schema/schema.freezed.dart
  packages/openai_dart/lib/src/generated/schema/schema.g.dart
  packages/openai_dart/oas/openapi_curated.yaml
  packages/openai_dart/test/openai_client_compatible_apis.dart
Labels: t:enhancement, p:openai_dart
